[2017-05-29 07:01] ihodev opened #3 "Windows 10 Bash or Cmd support"

[2017-05-29 07:16] Wramberg commented on #3
I would like to look into this at some point but there's some work left on Linux I would like to get out of the way first.

[2017-05-29 09:26] unknownuser88 opened #5 "Feature Request: make settings for zsh"
It will great if plugin will have option for `"/bin/zsh"` `"/bin/bash" ` etc

[2017-05-29 09:38] Wramberg commented on #5
Should be possible after 86835722780035adda6ceb12edf4ed8785f96c47 but keep in mind that only bash is tested. Alternatively you can always run "/bin/zsh" manually in the bash terminal of course - that should work just as well as bash.

[2017-05-29 09:38] #5 closed

[2017-05-29 11:37] rwols opened #7 "Bad file descriptor when closing terminal"
I keep getting this exception when I close a terminal view:

[code]

[2017-05-29 12:39] Wramberg commented on #7
Doesn't happen to me on Linux. Seems like the closing of the view triggers a resize event which we try to send to the shell after its closed. Could you try to see if 7e1ba6e630b9067039e96f8ee0899c0e7f4880e7 fixes it ?

[2017-05-29 12:54] rwols commented on #7
The extra if condition in 7e1ba6e seems to do the trick, the exception is gone.

[2017-05-29 12:59] rwols commented on #7
I seem to have been too eager to report this, it doesn't always help -- It's probably a race condition somewhere.

[2017-05-29 14:34] rwols opened #8 "The road to a stable fish and zsh"
~When I try to use the fish shell, the view opens and then closes immediately. Any ideas how this can be solved? I tried it on my Ubuntu machine and the same thing happens.~

* [x] Bash 4.4 Ubuntu 16.04
* [x] Bash 4.4 macOS 10.12
* [x] Bash 3.2 macOS 10.12
* [x] Z-Shell 5.3.1 macOS 10.12
* [x] Z-Shell 5.1.1 Ubuntu 16.04
* [x] Z-Shell 5.3.1 with oh-my-zsh macOS 10.12
* [x] Z-Shell 5.1.1 with oh-my-

[2017-05-29 15:28] Wramberg commented on #7
Fixed by 9c6cb2fd4f6189a5f0c097bc49649fd92dab7a9a

[2017-05-29 15:28] #7 closed

[2017-05-29 20:24] Wramberg commented on #8
I don't have any ideas as to why it would close right away. Maybe something to do with the resizing ioctl but I havent looked into it.

I'm starting to think that maybe a better approach would be to add support for running a second command automatically after bash is started. This would probably work fine for most people since they have bash anyway - but they would be able to specify that e.g. fis

[2017-05-30 10:51] rwols commented on #8
When I try zsh with `/bin/zsh -l`, I get these messages in the buffer every time I press <kbd>Enter</kbd>:
[code]

I can start fish by using `/bin/sh -c -- /usr/local/bin/fish -l`; seems to work fine.

[2017-05-30 10:54] rwols commented on #8
Ideally, the default `cmd` would be to use `"%s -l" % os.environ["SHELL"]` but that seems to be unreliable at this point. I think if you fix the zsh and fish issues you accounted for 99% of your potential users.

[2017-06-03 21:36] rwols opened #11 "Runloop discussion"
So right now the plugin is centered around this idea of constantly polling for data. This works, but it drains CPU even if sublime is in the background. It may be a better (greener?) alternative to have a thread reading from the `_pty` file descriptor. I'm not an expert in pty's, but it is perhaps possible to just read from it and block until some new data arrives. This blocking is then not a prob

[2017-06-04 07:09] Wramberg opened #12 "Blank lines are not drawn in fresh terminal if they are beyond line 24 (hotfixed in v0.1.0)"
This is due to the internal pyte terminal being initialized with size 80, 24. This triggers an initialization of lines 1 to 24. When it is subsequently resized (since very few have a terminal view of size 80, 24) it does not trigger a redraw of the newly added lines which renders them empty (as in completely empty not blank like we want).

When we subsequently receive data pyte assumes the lines a

[2017-06-04 07:12] Wramberg commented on #12
A quickfix is to just initialize the internal pyte terminal a lot larger. Ill leave this open though as better handling would probably be preferred.

I'm thinking something where we trigger a redraw or reset of the terminal on resize.

[2017-06-04 16:36] Wramberg commented on #11
Some good points. I'd like to note that in my setup the terminal uses very little CPU on idle. Regardless this would be a nice optimization.

Right now we are actually using select in LinuxPty.py with a timeout of 0. That could be changed to inf. and resize/close checks could be moved to a separate thread.

I might also be interested in splitting shell polling and view updates into separate thread

[2017-06-13 22:07] aziz opened #13 "256 colors support"
If you're already escaping some color codes why not doing it for 256 color codes as well?

Great plugin BTW, I have been waiting for something as good as this for a long time

[2017-06-13 22:09] aziz opened #14 "Clearing screen using `clear` does not scroll the view to the top"
Additionally clearing screen just wipe out all the history.
How about changing this behavior so that clearing just scrolls the prompt to the top of the screen. I know this is possible using the ST API

[2017-06-14 05:17] Wramberg commented on #14
I am looking into scrolling as a feature on another branch - its not as easy as just scrolling the view since i am using a terminal emulator that only supports screens of chars. What happens you "clear" the temrinal ? I assume you get an empty prompt at the top of the screen. If this is the case the plugin is working as intended right now.

[2017-06-14 05:20] Wramberg commented on #13
I am using the pyte terminal emulator to escape all colors and basically render the screen for me. I might try different emulators in the future to see if some work better but for now I only support the colors pyte supports.

[2017-06-15 08:15] aziz commented on #13
Apparently `pyte` has support for 256 colors selectel/pyte#89

[2017-06-15 17:10] superbobry commented on #13
@aziz you need to update the version in the repo to get 256 colours (or just make it a submodule), because the one you currently have is a bit dated.

[2017-06-15 19:56] aziz commented on #13
@Wramberg is there any reason you're using an old version of `pyte`? Why not just upgrade to the latest?

[2017-06-16 05:58] Wramberg commented on #13
I have upgraded to the latest - just havent made it to master yet

[2017-06-16 06:00] Wramberg commented on #14
Closing this as I don't see it as an issue. With no scrolling this is working as intended. Even when scrolling is implemented Pyte still clears the screen when clear is called.

[2017-06-16 06:00] #14 closed

[2017-06-17 18:58] Wramberg commented on #12
Fixed in baeef2b92840a27258e4c664c96a892af619befb
Will be included in next release.

[2017-06-17 18:58] #12 closed

[2017-06-18 20:59] Wramberg commented on #13
Had to downgrade to pyte to 0.5.2 since I found a few bugs in 0.6.0. I'll try get these sorted (myself or by creating issues). Until then I have to wait with this issues.

[2017-06-22 09:43] Wramberg opened #15 "Conflict with GotoLastEditEnhanced plugin"
The GotoLastEditEnhanced plugin stores a region each time a change is made in a view. This plugin makes a lot of changes so this causes unbounded memory growth.

Discussion here:
https://github.com/shagabutdinov/sublime-goto-last-edit-enhanced/issues/3

[2017-06-27 12:47] nchursin opened #16 "Change Log as Package Control messages"
It'd be really nice to get info on all the latest changes to the plugin with [Package Control messaging system](https://packagecontrol.io/docs/messaging).

[2017-06-27 15:02] Wramberg commented on #16
I agree and I actually just started looking to this (but Im unfamiliar with it). Do you know if its possible to point all upgrades to the same file ? or do I have to basically split the changelog into separate files ? See example below

[code]

[2017-06-27 18:29] Wramberg commented on #16
56054d89a942300de7943c9a16ed5ecf6d67f0c3 includes the messages for current versions and install.

[2017-06-27 18:29] #16 closed

[2017-06-28 15:16] nchursin commented on #16
I think there might be a problem if someone updates the package from for example 2 versions below (e.g. 0.1.0 to 0.1.2). In this case, package control shows both messages for v0.1.1 and v0.1.2.
And if both versions have change log in the same file, it will be displayed twice.
But I'm not sure how it works with `*`, never used it myself.

[2017-06-28 18:04] Wramberg commented on #16
Yeah you are probably right - for now I have gone for the "standard" approach :-)

[2017-07-01 00:48] aziz opened #17 "Regression in 0.4.0"
Everything was working just fine before but now my prompt has some unwanted output
<img width="599" alt="screen shot 2017-07-01 at 2 46 06 am" src="https://user-images.githubusercontent.com/3202/27757858-aac996ba-5e07-11e7-8d35-63bd0a0b9847.png">

[2017-07-01 06:57] Wramberg commented on #17
That seems odd - 0.4.0 does not really change anything regarding the shell or the parsing of its output. Please provide some information on how to reproduce this like

* What arguments do you call the terminalview_open command with.
* What is the output of env
* etc.

[2017-07-01 08:06] aziz commented on #17
command: terminal_view_open {"cmd": "/bin/bash -l", "title": "Terminal (bash)"}
bash: 4.4.12
ST3: 3140

I have variables in env which contain color escape codes

[2017-07-01 08:50] Wramberg commented on #17
Are you on linux or macOS ?
I would like to see a dump of `env` so I can reproduce your setup.
What happens if you run bash with the `-l` option like
[code]
If we can narrow down whats causing the issue I can include it in the tests to avoid it in the future.

[2017-07-01 10:30] aziz commented on #17
macOS

[2017-07-01 10:37] aziz commented on #17
I've tried these combinations
[code]

They all result in the same issue.
BTW, I have two bash versions. one which comes bundled with macOS `/bin/bash`
and the other which is newer (GNU bash 4.4.12) installed using homebrew in `/usr/local/bin/bash`

I'll publish my env output in a gist

[2017-07-01 10:41] aziz commented on #17
https://gist.github.com/aziz/438fa0099ad6c71999777dc5d091e3ba

[2017-07-01 13:06] Wramberg commented on #17
Unfortunately I don't have any way of testing on macOS. Regardless I see your env contains

[code]

which will not work with the internal terminal emulator, pyte, since it's a VTxxx emulator (not xterm). The plugin sets the TERM variable to linux: https://github.com/Wramberg/TerminalView/blob/master/linux_pty.py#L25

My guess is you have some bash_profile or similar configured to change the TERM v

[2017-07-01 19:53] #15 closed

[2017-07-02 23:19] Corleo opened #18 "Lines with red boarders and no text coloring"
Hello, Jesper.

I really liked your sublime terminal, it is great and runs smoothly in my computer, but it is not working like it was shown in the docs. In my machine it is displaying red boarders around text lines and the expected prompt coloring didn't work. I'm running sublime text 3 with Ubuntu 14.04.5 LTS x64 and with TerminalView default configs.

![red_boarders](https://user-images.githubus

[2017-07-03 06:19] Wramberg commented on #18
Without more info my best guess is some kind of incompliance between your setup and pyte, the internal terminal emulator.

Could your provide the following info ?

* OS used
* ST3 version
* Bash version
* Arguments being used with the terminal_view_open command
* If possible, a dump of the environment vars from the terminal view (call `env` in the terminal inside ST3)

[2017-07-03 14:16] nchursin opened #19 "Wrong cursor position"
Please provide the following information when logging a bug:

* MacOS Sierra 10.12.5
* ST3 3126
* zsh 5.2 (x86_64-apple-darwin16.0) / GNU bash, version 4.4.5(1)-release (x86_64-apple-darwin16.3.0) / oh-my-zsh is installed
* "cmd": "/bin/bash -l -c /bin/zsh",

![screen shot 2017-07-03 at 17 12 30](https://user-images.githubusercontent.com/8916229/27796522-f1aa482e-6012-11e7-88d6-b9ecb6ec82f8.png)
S

[2017-07-03 14:23] nchursin opened #20 "Settings enhancements"
I have a couple of suggestions about settings commands.
1. Create Command Pallete commands - I usually don't use the settings menu, and I'm pretty sure I'm not the only one. With command palette, you don't have to leave your keyboard.
2. Use `edit_settings` instead of `open_file` - it opens both default and user's settings in a split view. It makes editing settings much easier.

[2017-07-03 14:28] Wramberg commented on #17
Any updates on this @aziz ? Ive been looking into an xterm terminal emulator for python but until this has been implemented the plugin is not going to support xterm behavior

[2017-07-03 14:32] Wramberg commented on #19
Im surprised that I have two issues now from the last update (I assume you mean from 0.3 to 0.4) since it didnt introduce any changes to terminal <-> shell interaction (been over the commit log twice now).

Did you have colors enabled before ?
Would you mind trying to checkout 0.3 manually and verifying that it works there ?
and possibly dump your env from the temrinal inside ST3 ?

[2017-07-03 14:34] Wramberg commented on #20
Good ideas - Ill look into this when possible :)

[2017-07-03 14:34] aziz commented on #17
I've tested this on my other computer with the exact same bashrc and bash_profile. On my other computer everything works just fine. So I don't know what's causing this issue and I need to investigate further. My guess is that [iTerm2 Shell Integration feature](https://www.iterm2.com/documentation-shell-integration.html) might cause this but it needs to be verified.

I think you should close this i

[2017-07-03 18:39] Wramberg commented on #17
Alright thanks for the feedback - I think this plugin is getting to a point where it's used in many different setups which is hard to test so feel free to give an update if you find out more.

[2017-07-03 18:39] #17 closed

[2017-07-03 19:25] Wramberg commented on #20
You are right the edit_settings really makes everything a lot easier

[2017-07-03 19:25] #20 closed

[2017-07-04 05:11] nchursin commented on #19
Yup, it was working in 0.3.0, but I'll check it anyway.
Colors were enabled before.
Here's the dump:
[code]

[2017-07-04 11:19] AlanCristhian commented on #18
I have the same problem:

- Ubuntu 16.04 LTS x64
- ST3, Build 3126
- GNU bash, version 4.3.48(1)-release (x86_64-pc-linux-gnu)

[2017-07-04 12:37] Wramberg commented on #18
Could one of you dump the output of `env` when called inside the terminal in ST3 ? I need it to replicate your setup.

[2017-07-04 15:33] AlanCristhian commented on #18
XDG_VTNR=7
XDG_SESSION_ID=c2
CLUTTER_IM_MODULE=xim
XDG_GREETER_DATA_DIR=/var/lib/lightdm-data/alancristhian
GIO_LAUNCHED_DESKTOP_FILE_PID=3927
SESSION=ubuntu
GPG_AGENT_INFO=/home/alancristhian/.gnupg/S.gpg-agent:0:1
TERM=linux
XDG_MENU_PREFIX=gnome-
SHELL=/bin/bash
QT_LINUX_ACCESSIBILITY_ALWAYS_ON=1
UPSTART_SESSION=unix:abstract=/com/ubuntu/upstart-session/1000/1884
GNOME_KEYRING_CONTROL=
GTK_MODU

[2017-07-04 17:34] Wramberg commented on #18
Thanks @AlanCristhian Ill look into it when I get the chance. Until then I guess you could fix it by disabling colors in the settings.

[2017-07-05 18:14] Corleo commented on #18
Yes, here it is:

* OS used: 14.04.5 LTS x64
* ST3 version: build 3126
* Bash version: 4.3.11(1)-release (x86_64-pc-linux-gnu)
* Arguments being used with the terminal_view_open command: I'm oppening the terminal_view using ctrl+shift+p -> "Open Terminal View - Bash"
* Dump of the environment vars from the ST3 terminal view:
PWD=/home/corleo
JAVA_HOME=/usr/lib/jvm/java-8-oracle
XMODIFIERS=@im=ibus

[2017-07-05 20:27] Wramberg commented on #18
I haven't been able to reproduce this so far.

* I assume the red lines go away when you turn off dynamic colors ?
* Maybe it is related to another plugin or perhaps some global setting. Could you maybe try a clean install (if it isn't too much trouble) ?
* Could also be related to some thirdparty stuff like iterm or something as seen in #17

I hope we can figure it out and hopefully avoid any iss

[2017-07-05 20:35] Wramberg commented on #19
Havent been able to reproduce but looking through the changes again I think it may be caused by sublime word wrap.. try turning word wrap off in the view through e.g. a keybinding

[code]

I enabled wordwrap to avoid horizontal scroll bar (and because I couldnt get wrapping to happen anyway). If it happens in your setup in very curious as to what causes it but lets wait and see.

[2017-07-05 21:54] Alexey-T opened #21 "Port to Cud"
I want to port this plugin to CudaText: but need help for this.
maybe you can refactor code, so that some part will be, which I can use?
Tks.

[2017-07-06 06:03] Wramberg commented on #21
I do have a refactor planned since I am looking into a new internal terminal emulator that supports xterm. What do you have in mind ? Abstracting ST3 API calls away behind a single module or ?

[2017-07-06 06:37] Corleo commented on #18
No, the red lines don't go away when I turn off colors in the terminalview settings. Nothing changes.
What I noticed was that the output of the terminalview for `$ env`, for example, adds some weird white spaces and line brakes that are seen when I copy and paste then to a text file:

![printscreen](https://user-images.githubusercontent.com/9902249/27898362-0c3c8fb8-61fc-11e7-9119-73d330a92661.png

[2017-07-06 07:43] nchursin commented on #19
Yup, that was it, thanks!
For those who have the same problem, you can use the following solution to open `TerminalView` in one command:
1. Install `Chain Of Commands` plugin
2. Use the following shortcut to open `TerminalView`:
[code]

[2017-07-06 07:43] #19 closed

[2017-07-06 08:54] Wramberg commented on #19
Ill see if I can make time to release a hotfix later today (I specifically enable it in the plugin to avoid the horizontal scrollbar).

Guess I was wrong in assuming that wrapping would never happen if I ensure the terminal is 3 characters more narrow than the window at all times.

[2017-07-06 08:59] Wramberg commented on #18
Ill see if I can get the time later today to try your settings.

If disabling terminal view colors does not work it seems very likely that its a plugin conflict or ST3 configuration issue that I haven't thought of.

[2017-07-06 09:34] Alexey-T commented on #21
Moving all ST3 calls to a new module, and Term emulation module should be w/o ST3 calls. my Cud plugin will use this part w/o ST3.

[2017-07-06 10:30] rwols commented on #19
It could also be the DPI or zoom settings of the OS somehow.

[2017-07-06 18:24] Corleo commented on #18
Hi, @Wramberg

With a ST3 fresh install with only package control and terminalview the red lines didn't appear, but my prompt colors didn't appear either. It wasn't supposed that the coloring should be get from bash terminal by default?

![print_terminalview](https://user-images.githubusercontent.com/9902249/27925919-dd5f7fc8-625c-11e7-87bd-7fcbe2087a1c.png)

Then, after installing my ST3 settings

[2017-07-06 18:39] Wramberg commented on #19
I tested various DPI/resolution and zoom. Didnt seem to have any effect.

[2017-07-06 18:46] Wramberg commented on #18
#### In regards to colors
Im afraid the internal terminal emulator doesnt parse the colors of your prompt (only supports 8 colors or something). Im looking into a new terminal emulator which supports xterm and a lot more colors but its still in development.

#### In regards to red highlights
Had a look at your packages and I think its caused by trailing space highlighting. The default blank char f

[2017-07-06 19:53] Wramberg commented on #19
Released fix for this so wrapping is specifically turned off in the terminal: https://github.com/Wramberg/TerminalView/releases/tag/v0.4.2

[2017-07-06 19:56] Wramberg commented on #13
Im looking into a new internal terminal emulator. Initial results are good but still a decent amount of development needed. If this is implemented we will have support for 256 colors and xterm! :-)

[2017-07-07 03:57] Corleo commented on #18
@Wramberg, you were right.

It was an issue with the TrailingSpaces highlight and disabling the plugin removes the red lines.

Thanks!!

[2017-07-07 03:57] #18 closed

[2017-07-08 16:26] superbobry commented on #13
@Wramberg could you share a bit more details on that?

If this is about starting a new implementation or switching to a different library?

If you plan to implement a terminal emulator from scratch, I would humbly suggest not to duplicate the effort and instead focus on making `pyte` more stable and feature-rich. Writing a well-behaved TE is a complex and time-consuming task, and I'd be happy if a

[2017-07-09 09:14] Wramberg commented on #13
Hey @superbobry
This is about a different library. I don't think I would ever embark on the task of making a TE from scratch (too much work like you say). I appreciate Pyte and I think it has worked great for this plugin. I would like if pyte could be The library.

Unfortunately there are some aspects of the user environment that I cannot control. Some people have TERM=xterm hardcoded in their bas

[2017-07-09 20:53] superbobry commented on #13
Thanks for explaining the context. I'm glad you're not starting another library :)

I understand your need for the xterm features and I'm sorry we do not yet cover those in `pyte`. I think I would gradually implement most of them, but surely this would require some time. I would appreciate it if you could list the features you're missing in `pyte` (apart from 256 colours) somewhere in `pyte` [issu

[2017-07-10 20:58] Wramberg commented on #13
I appreciate your commitment to pyte and gradual support for xterm would be very nice. Ill have a look into desireable xterm features as soon as possible.

[2017-07-11 20:06] randy3k commented on #14
`Ctrl-l` to clear screen doesn't work. Is it related to this?

[2017-07-11 20:12] Wramberg commented on #14
Ctrl-l should clear the screen in the latest version. Ill have a look at this tomorrow.

[2017-07-11 20:13] randy3k commented on #14
Thanks for the headup. I am on the master branch but it is not working.

[2017-07-11 20:24] randy3k opened #22 "support bracketed paste mode"
Pasting the clipboard content to terminal is not working. It just doesn't do anything. It would be nice to also support bracketed paste mode if you are working on it.

The tmux emulator  [pymux](https://github.com/jonathanslenders/pymux/blob/9569dda0c74c5e8b1dd8563d7ecef2c184410db7/pymux/screen.py#L126) which also uses `pyte` may be a good starting point to support it.

<details>

* OS used: Mac O

[2017-07-12 05:47] Wramberg commented on #14
If I have a screen like this in my terminal view

[code]

and hit ctrl-l then screen shows

[code]

As expected. If ctrl-c does not work for you maybe your TERM variable is overridden somewhere ? It needs to be "linux" for TerminalView to work properly.

[2017-07-12 06:00] Wramberg commented on #22
Nothing happening on paste is very unexpected - all the paste does at the moment is "emulate" keypresses.

[code]

when you hit a key manually its the same keypress_cb that gets called. Are you copying a simple string or ?

[2017-07-12 06:13] randy3k commented on #14
Sorry for the noise...it is because of a key bind conflict...

[2017-07-12 06:15] randy3k commented on #22
I see. `ctrl+shift+v` works, but MacOS actually uses `super+v`

[2017-07-12 06:17] randy3k commented on #22
Defining
[code]
now works for me.

Let's keep this issue for the bracketed paste mode.

[2017-07-12 06:26] randy3k opened #23 "restore cursor position when pressing <esc>"
It would be nice if `<esc>` will restore the cursor to the original prompt location when the cursor has been moved to other location, for example after copying something or just after an accidental click.

By the way, excellent work. I have been waiting a prefer emulator for ages.

[2017-07-12 06:29] Wramberg commented on #22
Great - haven't thought about the alternative keybindings in macOS. Maybe I should make a macOS specific default keymap.

[2017-07-12 06:47] randy3k opened #24 "display images in sublime via iTerm2 imgcat"
iTerm2 supports a way to display an image in the terminal via a the [imgcat](https://www.iterm2.com/documentation-images.html) tool. Basically, it sends the following sequence to the terminal.

[code]

Currently, it shows the raw data on the screen.
<img width="1071" alt="screen shot 2017-07-12 at 2 33 57 am" src="https://user-images.githubusercontent.com/1690993/28104756-9e994ac4-66aa-11e7-8f1d-e

[2017-07-12 07:22] randy3k opened #25 "send `SIGWINCH` upon terminal resize"
`SIGWINCH` needs to be sent after the terminal has resized.

<img width="1081" alt="screen shot 2017-07-12 at 3 22 13 am" src="https://user-images.githubusercontent.com/1690993/28106282-53a3c75e-66b1-11e7-98eb-d1bc47d60743.png">

[2017-07-12 08:25] randy3k commented on #25
It seems that it is impossible to sent SIGWINCH on virtual terminal.
https://unix.stackexchange.com/questions/16578/resizable-serial-console-window

[2017-07-12 09:20] randy3k commented on #24
we should be able to add a handler [here](https://github.com/Wramberg/TerminalView/blob/d2a9e4176afc9a09741900fa8bd9a0587332a738/sublime_terminal_buffer.py#L69) or [in pyte](https://github.com/selectel/pyte/blob/26866c70e37b7ba00aaea3cf89fed50cd4f5cd7f/pyte/streams.py#L201) to capture the escape sequence

[2017-07-12 12:07] rwols commented on #24
I agree this should be handled by Pyte. Maybe open an issue/PR there as well and link to here? @superbobry

[2017-07-12 12:12] randy3k commented on #24
This is not an pyte issue per se. This iTerm2 protocol is by no mean standard, however, pyte should support specifying handlers for custom escaped sequences. For our usage, we just need to subclass and extend the relevant methods.

[2017-07-12 12:13] rwols commented on #24
Yeah, that's what I meant 👍

[2017-07-12 18:17] kkiernan opened #28 "Terminal Scroll History Issue"
Not sure if this is a bug or a configuration issue on my part. Any help is appreciated. I installed the plugin and added the example key binding. Works wonderfully, but I am unable scroll back to view any history. I can only see what is visible in the window, and once output goes above the viewable area, I can no longer scroll back to it. Any thoughts?

**OS**: macOS Sierra 10.12.5
**ST3 Version**

[2017-07-12 20:35] Wramberg commented on #25
I actually thought SIGWINCH was generated by the shell when it registers that the window was resized (with tiocswinsz). I tested this with less which seems to resize regardless. Maybe its checking for screen resize regularly ?

[2017-07-12 20:37] #25 closed

[2017-07-12 20:41] Wramberg commented on #28
Have to checked if your user keymap shadows the scrolling keybindings ?
You can try inserting the following in your user keymap and see if it works.

[code]

[2017-07-12 20:50] randy3k commented on #25
A front program needs to either be notified or actively seek for resize event.

For the right prompt of zsh shell, it doesn't actively seek of size change, so a SIGWINCH has to be sent in order to change the environmental variable. For `less`, it seems that it checks for size before the output is printed.

[2017-07-12 22:35] randy3k opened #29 "Send SINGINT when `Ctrl+C` is hit"
`Ctrl+C` is not working when the program is busy.

<img width="861" alt="screen shot 2017-07-12 at 6 32 35 pm" src="https://user-images.githubusercontent.com/1690993/28142795-88726358-6730-11e7-9142-3696dc820bc1.png">

Just sending the keystroke `^C` is not enough, the front program needs to be notified by a `SIGINT`.

[2017-07-13 05:08] randy3k opened #32 "scroll bar on macOS"
@Wramberg  There have been several attempts to set [offset][1] to remove the horizontal scroll bar. But I assume that you were testing it on a linux. On macOS, it seems that it has to be at least 3. For vertical scroll bar, it needs at least 1. Hopes it help.

[code]

[1]: https://github.com/Wramberg/TerminalView/blob/483780090645c5392024c8db5a71f45c44c198bf/sublime_terminal_buffer.py#L103

[2017-07-13 05:25] randy3k opened #33 "Some subprocesses are not closed when Sublime Text is closed"
Say for example I am running a Julia interpreter in TerminalView.

Check from Terminal.
[code]

Close sublime text completely and check again.
[code]

The process 81320 is not closed automatically.

Oddly, it always happens for Julia console. R or python consoles do **sometimes** close.

[2017-07-13 05:55] Wramberg commented on #29
@randy3k are you sure theres not something wrong with your setup ? Ctrl-c works fine on Linux. I really do not think that TerminalView should be sending any signals. I think the PTY/Shell should decide which signals to send.

[2017-07-13 05:57] Wramberg commented on #29
Maybe the way your ST3 is opened it blocks the ctrl-c signal ? That would be inherited by the shell and its processes which would result in what you see.

[2017-07-13 06:03] Wramberg commented on #23
Escape is forwarded to the shell as its a valid key used by e.g. vim. I'm not against making it possible to reset the cursor but lets find a key thats not used by the shell :-)

[2017-07-13 06:05] randy3k commented on #23
it is only enabled when the cursor has moved, it will not affect any other usage of esc.

[2017-07-13 06:10] Wramberg commented on #23
Ah ok - well in that case I guess `esc` would make sense 👍

[2017-07-13 06:29] randy3k commented on #29
May be a macOS issue?

[2017-07-13 06:39] Wramberg commented on #29
Perhaps - could you check the output of

[code]

The blocked column should show if ST3 or the terminal view shell blocks any signals. I remember having the same issue in my i3 setup where dmenu (i think it was) blocked all signals. That would be inherited by ST3 and then again by the shell.

[2017-07-13 06:42] randy3k commented on #29
not at all.
[code]

[2017-07-13 06:45] randy3k commented on #29
Oddly,... it is working now...

[2017-07-13 06:45] #29 closed

[2017-07-13 06:49] randy3k commented on #29
I figure that the inconsistent behavior is due to the shells. The signal doesn't send to zsh. It has no problem to send signal to bash.

[2017-07-13 06:54] randy3k commented on #33
I was using zsh, I guess it may be the reason.

[2017-07-13 07:01] randy3k commented on #29
Running zsh on top of bash shell fixed the signal issue.
[code]

[2017-07-13 07:32] Wramberg commented on #29
Great - that is the only supported setup at the moment.

Im not sure why the zsh behaves so differently (or why the pty behaves differently when attached to an zsh shell). You are welcome to look into it if you like. I just havent had the time yet.

[2017-07-13 07:33] Wramberg commented on #33
It seems like a pretty serious issue so I'll look into this when I get the time - just to be sure.

[2017-07-13 07:39] Wramberg commented on #23
@randy3k could you double-check `devel` to see if it behaves at expected after merging #31 (escape resets cursor position when its moved but is sent to shell when cursor is in the right place) before we close this issues ?

[2017-07-13 07:51] Wramberg commented on #32
You are right I have been fighting with those pesky scrollbars. At the moment I am not attempting to remove them I simply faced the fact that it is too dependent on the user setup.

I guess it could default to 1 (or 0) and I could add an option in the settings to let users decide their "margin". In that case you could set to 3 if you wanted to get rid of the vertical scrollbar.

What do you think

[2017-07-13 14:25] kkiernan commented on #28
Yep that did it. Thank you so much! @Wramberg

[2017-07-13 23:03] randy3k commented on #32
I agree we should make it customizable, however it has to be conservative. In this way, most users can enjoy the scroll bar free experience.

I have tried the default theme of Mac, it seems that -3 (horizontally) and -1 (vertically) work.

[2017-07-13 23:05] randy3k commented on #23
It is working. If the cursor has not been moved, `<esc>-<delete>` will default the previous word.

[2017-07-13 23:06] #23 closed

[2017-07-14 05:35] randy3k opened #36 "Unicode problem"
When I run `"\u2200"` on ipython over TerminalView, I got
<img width="1086" alt="screen shot 2017-07-14 at 1 33 23 am" src="https://user-images.githubusercontent.com/1690993/28199544-7b8d4b76-6834-11e7-9153-6c431f742bab.png">

There is no issue on python over regular terminal nor Julia console over TerminalView.

[2017-07-14 06:32] Wramberg commented on #23
Great :+1:

[2017-07-14 06:50] randy3k commented on #36
There is also an issue that the unicode `×`. When it is paste in the terminal, it shows

<img width="476" alt="screen shot 2017-07-14 at 2 49 26 am" src="https://user-images.githubusercontent.com/1690993/28201474-33b07714-683f-11e7-8ac8-01190f1079fc.png">

[2017-07-18 10:26] megadr01d commented on #28
@Wramberg

In the [keybindings](https://github.com/Wramberg/TerminalView#keybindings) section, there's an entry for

<kbd>alt</kbd> + <kbd>mouse wheel up</kbd> / <kbd>mouse wheel down</kbd> - Scroll back/forward in terminal history

but doesn't seem to work on OS X. I'm using the MacBook Pro's built-in trackpad, not a mouse. Does it work on your system (linux?) or it's not implemented?

<kbd>shift

[2017-07-20 21:25] bfelder opened #37 "Enhancement Proposal: Ctrl+c for copy and Ctrl+v for paste"
@Wramberg Thank you for intense effort developing one of the most promising plugins of sublime text 3!

I like TerminalView as it allows the best terminal emulation in Sublime of all plugins I came across so far.
This is important as it makes Sublime into a full blown IDE for me, having access to python virtual environments, debugging and shell scripts.

**One feature I would like to see is to be

[2017-07-22 16:08] Wramberg commented on #28
Hi @megadr01d alt+scroll wheel works fine on Linux. Unfortunately I do not have a macbook to test on. Maybe @rwols or @randy3k can tell us whether it works on macOS (mouse wheel and/or trackpad scroll).

[2017-07-22 16:12] randy3k commented on #28
It is not working with trackpad on my iMac and MacBook Pro. It seems that the command is never got executed. Not sure about mouse though.

[2017-07-22 16:16] Wramberg commented on #37
Hi @bfelder - I understand it can be frustrating having to switch keys when you switch into a terminalview. I assume your linux terminal maps ctrl-c to break whenever you do not have a selection ? and to copy if you do have an active selection ?

How is ctrl-v handled though ? Is it simply intercepted and not sent to the shell ?

[2017-07-22 16:20] Wramberg commented on #28
Thanks @randy3k thats not intended. I wonder if ST3 has another name for trackpad scroll ? I only tested it using a mouse. Could you try testing it with a mouse @megadr01d ?

[2017-07-22 16:27] megadr01d commented on #28
Thanks for the confirmation, @randy3k.

@Wramberg Unfortunately I don't own a mouse but the trackpad scrolling works on a standard view.
When I get home, I'll try [setting a different modifier](https://github.com/Wramberg/TerminalView/blob/master/Default.sublime-mousemap) and use PackageResourceViewer to dissect ST's internal `.sublime-mousemap` file.

[2017-07-22 16:29] randy3k commented on #28
Although TerminalView scroll is a very different story from the regular view scrolling.

[2017-07-22 16:31] Wramberg commented on #28
Indeed TerminalView scrolling is very different from ST3 view scrolling. Regardless please report back your findings @megadr01d  and feel free to open an issue if you figure out how to fix it :-)

[2017-07-22 16:38] megadr01d commented on #28
I know it's using pyte, but the same applies to Linux where it works correctly.
Thanks again guys, I'll report back.

[2017-07-22 18:09] bfelder commented on #37
@Wramberg - Thank you for your response! I believe it is important to keep commands consistent inside Sublime. Having two different keybindings for essentially the same function is not user friendly.

I am on Linux Mint 18.2 Cinnamon. The terminal allows to adjust keybindings. By default Ctrl+c is mapped to break. However now break maps to Ctrl+Shift+c. Ctrl+c always maps to copy and Ctrl+v always

[2017-07-22 20:15] rwols commented on #28
Can confirm that <kbd>alt</kbd>+<kbd>trackpad scroll</kbd> doesn't do anything.

[2017-07-22 20:45] randy3k commented on #37
@bfelder, you could basic remap any keyboard to whatever you like. Just look at [sublime-keymap](https://github.com/Wramberg/TerminalView/blob/master/Default.sublime-keymap) file.

On my Mac, I have
[code]

[2017-07-22 21:07] bfelder commented on #37
@randy3k Thank you for your response and the example keymap! Also, thank you for your ProjectManager plugin, as it fills an important gap in Sublime's functionality!

I have been using Sublime only for a short period of time as of this day. Of course, I know how to rebind keys. I was not aware of the **context parameter** though. **Indeed I was afraid remapping Ctrl+c/Ctrl+v would deny that functi

[2017-07-23 02:18] kkiernan commented on #28
Just confirming that the mouse scroll bindings do not work with the mouse on OS X. This is why I was confused at first and opened the issue originally. I tried a few different bindings but couldn't get anything to work unfortunately.

[2017-07-23 10:25] Wramberg commented on #37
@bfelder if you simply want to rebind keys you can do it as @randy3k suggest. I think it's mentioned pretty clearly in the readme already ? It states the default keybindings and that they can be changed through the menu or the command palette. In your case I suggest you add something like the following in your custom keymap.

[code]

I agree it would be best to keep the keybindings in terminalview

[2017-07-23 10:34] Wramberg commented on #33
Cant seem to replicate this on Linux so I'll close it. If anyone finds a way to reproduce it feel free to reopen so we can investigate further. For now I'll write it off as zsh not shutting down gracefully or something when it does not have bash as parrent process.

[2017-07-23 10:34] #33 closed

[2017-07-23 12:12] bfelder commented on #37
I have just opened a pull request in this regard. It is a suggested extension to the readme.
Note also that the key bindings for Mac OS need to be adapted, as I do not know Mac OS.

[2017-07-23 12:24] bfelder opened #39 "Enhancement: Restrict caret position"
In contrast to my system's shell and also in contrast to the rest of Sublime I can place the caret pretty much at any position.

Upon text input, the caret is then moved upwards either to right after the prompt or to the end of the last word if there is already input.

It would be better IMHO if the caret position would be restricted to right after the prompt, like in a normal terminal.

[2017-07-23 13:34] Wramberg commented on #37
Ill close this issue and discussion can continue in the PR.

[2017-07-23 13:34] #37 closed

[2017-07-23 13:36] Wramberg commented on #39
In order to support selection (to do copy/paste) the cursor position cannot be restricted. Other teminals implement this by allowing selection without moving the cursor. This is not possible within ST3 unfortunately (atleast not that I know of).

[2017-07-23 13:40] bfelder commented on #39
OK. if restriction is not possible, maybe the caret could at least be automatically close in on the prompt.
Just check whether there is white space between current caret position and prompt/ end of last word.
What do think about this suggestion @Wramberg?

[2017-07-23 13:48] Wramberg commented on #39
Im not sure I understand what you mean.

[2017-07-23 13:52] Wramberg commented on #39
Note that the ST3 cursor is snapped back into position whenever you type or do anything in the terminal. Also - in the newest devel version you can hit `escape` to make the cursor jump back to its original position.

[2017-07-23 13:54] bfelder commented on #39
$  <- prompt                      <- lots of white space ->                                       | <- caret, misplaced here by mouse click
$ | <- caret automatically moved here after mouse click, just like you just started to type or hit Esc

[2017-07-23 13:55] bfelder commented on #39
It is a minor point though. Relevant only if you want to give TerrminalView an even more enhanced UX.

[2017-07-23 13:56] Wramberg commented on #39
When you start typing the cursor moves back to the prompt ? if not then you are experiencing some kind of issue.

[2017-07-23 13:57] Wramberg commented on #32
Can be configured now after 743f66de10a4e9f3de4b578163f2f502474e1489

[2017-07-23 13:57] #32 closed

[2017-07-23 14:32] megadr01d commented on #28
Different modifiers don't work but I found it's somehow an OS X limitation.
I unzipped ST's `Default.sublime-package` and found the following:

[code]

[code]

For some reason, `Default (OSX).sublime-mousemap` doesn't contain the `scroll_up` or `scroll_down` keys.

Also tried

[code]

and confirmed that it doesn't work for changing font size either, so my guess is that this is an issue with ST and

[2017-07-23 15:30] Wramberg commented on #28
Thanks for the update @megadr01d - I guess there is nothing to be done (atleast at the moment) unfortunately ?

[2017-07-23 15:55] bfelder commented on #39
Yes. Upon typing the cursor moves back to the prompt. No issue here. :+1:
Still, I can place the caret far away from the prompt.
It would be best the cursor would move to the prompt right upon focusing of the TerminalView.
(See for example the behavior in a normal Sublime view. You may click somewhere yet the caret is moved to the very left - the first column.)

[2017-07-23 17:49] megadr01d commented on #28
@Wramberg Yeah. Scrolling with the keyboard works fine so, no major problem. I added this to my scratchpad  to post on Sublime Text's Issues repo, later on, so @kkiernan, you can close this one again, for now.

[2017-07-23 19:27] Wramberg commented on #39
Oh I understand now :-) What we really want to do it get rid of the trailing spaces. The way the internal terminal emulator works is by using space as default char. So an empty screen is filled with spaces.

I've been doing a few tests with using a different default char and removing it when updating the terminal view. The only problem is which byte to use as "blank".

Lets leave this open and I'l

[2017-07-23 19:32] Wramberg commented on #28
Thanks @megadr01d I have added a note in the readme about this so we can close this for now until something changes with ST3.

[2017-07-23 19:32] #28 closed

[2017-07-23 19:34] Wramberg commented on #39
Note that solving this issue would also fix the conflict reported in #18

[2017-07-23 19:47] bfelder commented on #39
Great that I was finally able to express myself clearly. :-)
I have never seen those red lines.

When you have solved the issue, just shoot me a message in case you need a Linux tester.
Keep up the good work, knowing you have already created the best Terminal plugin for Sublime!

[2017-07-27 16:21] megadr01d commented on #28
Reference issue on SublimeTextIssues official repo, in case you wanna link in the readme or just keep an eye on it.

https://github.com/SublimeTextIssues/Core/issues/1838

[2017-07-27 18:46] mandeep opened #41 "Open terminal with working directory set as project root"
[code]
When opening a bash terminal from command palette, the terminal's current working directory seems to be set to the same directory as the file you're currently working on. According to the docstring here: https://github.com/Wramberg/TerminalView/blob/master/TerminalView.py#L31 shouldn't the path be set to the project root? If this is intended behavior, what's the best way to set TerminalView

[2017-07-27 18:54] rwols commented on #41
Hi Mandeep,

You can change the current working directory by adding a new sublime command to your `.sublime-commands` with an explicit `cwd` argument. For instance,

[code]
Save this as `TerminalView.sublime-commands` in your Packages/User directory.

It seems the docs have not been updated.

[2017-07-27 19:10] rwols commented on #41
It seems I spoke too soon. Substituting variables doesn't work. I'll turn this into a PR.

[2017-07-27 21:56] Wramberg commented on #41
Pulled in @rwols PR. Should be able to change the cwd snippet after 2ee3a28b97fc786836035c8307dbc972e0a04cb6 has been included in a release.

[2017-07-28 19:56] avivace opened #43 "Calling clear in terminal causes exception"
* debian unstable
* ST3 3142

typing `clear` crashes TerminalView:

[code]

[2017-07-28 20:44] Wramberg commented on #43
Please provide the information requested in the issue template

* OS used
* Bash version
* Arguments being used with the terminal_view_open command
* A dump of the environment vars from the terminal view (call env in the terminal inside ST3)
*  Anything else you can think of that might help

Calling clear in the terminal works fine for me.

[2017-07-28 21:17] rwols commented on #43
I cannot reproduce this on macOS 10.12 neither with bash 3.2 nor with bash 4.4.

[2017-07-28 21:49] Wramberg commented on #43
It probably due to wrong `TERM` variable. But no way to know before we get some more information :-)

[2017-07-29 16:33] Wramberg commented on #11
After 42a1cf48ee97893e2a0171c36d8bb5a9bd7ef736 we are now using the timeout as mentioned. It is a relatively low timeout however in order for the runloop to service scroll, resize checks, etc.

The main CPU usage is calling a ST3 text command 30 times per second right now as required by the sublime buffer update logic. I think this could be optimized a bit as well so I'll have a look into that soo

[2017-07-30 10:34] Wramberg commented on #22
Hey @randy3k. 8992cbd5010d19590bdae77b095162787c4e1739 should include support for bracketed paste mode. You can enable it from the shell by printing the typical \e[?2004h or by simply setting the bracketed flag when calling terminal_view_paste.

I tried downloading and building bash 4.4 but I think it statically linked with my readline 6 lib (need readline 7 for it to work). Instead of manually do

[2017-07-30 21:46] randy3k commented on #22
It looks like it is working great with ipython. Consider this piece of code

[code]

before
<img width="481" alt="screen shot 2017-07-30 at 5 45 11 pm" src="https://user-images.githubusercontent.com/1690993/28757343-ddeb0822-754e-11e7-9059-8186a997eb65.png">

!!! missing the second piece!

after
<img width="457" alt="screen shot 2017-07-30 at 5 46 10 pm" src="https://user-images.githubusercontent.

[2017-07-30 21:49] #22 closed

[2017-07-30 22:04] Wramberg commented on #22
Great! Thanks for testing it.

[2017-07-31 09:38] Wramberg commented on #41
I'll close this for now. @mandeep stay tuned for an update in the near future. Feel free to pop back in if you experience any further issues :-)

[2017-07-31 09:38] #41 closed

[2017-07-31 21:33] Wramberg commented on #39
I have looked a bit more into this and actually have a working example. Problem is I have to do a lot patching and additional logic. Im hesitant in adding this cause it will increase maintenace overhead when upgrading pyte etc (I am overriding their default char amongst other things) . Im not sure if it would be worth it considering that it is a minor UX improvement - what do you think @bfelder?

[2017-07-31 21:40] bfelder commented on #39
@Wramberg Thanks for letting me know. As far as I understand you are in the middle of upgrading to xterm/pyte (?? - I am not sure about which one). I do not understand enough about how this relates to the issue of caret positioning but the common sense of a developer dictates to set priorities wisely. In other words come back to the issue of caret positioning later after you have made the other mo

[2017-08-02 13:47] Wramberg commented on #39
Yes I am looking into removing pyte and using gateone terminal instead. The gateone terminal should give some wanted improvements like

 * xterm support
 * 256 color support
 * support for custom escape handlers

The problem is: With pyte it is "not so clean" to implement. With gateone it seems near impossible since it uses space in multiple places (none of which I can override from my code).

So

[2017-08-02 15:45] bfelder commented on #39
@Wramberg This sounds like a sensible approach. I make you a deal: Take your time to properly implement gateone. Then see again how easy/difficult it actually is to implement the caret positioning. **If unsuccessful get in touch with me via this issue. Maybe I can pull a rabbit from my hat and find some elegant workaround.** Just keep this issue open until then as a channel of communication and re

[2017-08-02 15:48] bfelder commented on #43
Linux Mint 18.2, bash reporting in:
No crash with clear in TerminalView.

[2017-08-02 15:50] avivace commented on #43
My bad, I was calling fish from bashrc, no crash operating normally.

[2017-08-02 15:50] #43 closed

[2017-08-02 19:26] Wramberg commented on #11
42a1cf48ee97893e2a0171c36d8bb5a9bd7ef736 did in some cases cause view updates too fast so it was partially reverted. The more important discovery that ST3 command calls was the main contributor has now been accounted for in 153d0aa0ee72daaf1a0a7733b31de64296d99aca.

It seems an idle terminal view uses incredibly little CPU now.

[2017-08-02 20:38] rwols commented on #11
I just pulled the latest devel branch and it seems to work fine!

[2017-08-02 20:40] rwols commented on #11
I think you should make the thread take a weakref.ref to the method though, and join it in the `__del__` of the TerminalView class (sorry for hammering on this!)

[2017-08-02 22:11] Wramberg commented on #8
Try the newest commit on `devel` bd965530f5d5b016a49fead9a1530ca0b6a7351d. Broke alot of unittests Ill have to check up on but should work well with both fish and zsh (hopefully).

@randy3k feel free to test zsh if you got time. Should work with signals, resize, etc. without starting it through bash.

[2017-08-02 22:39] randy3k commented on #8
I don't know if it is true, [pty](https://github.com/python/cpython/blob/3.3/Lib/pty.py#L3) says it doesn't handle signals.

[2017-08-02 23:03] rwols commented on #8
Can confirm that running a bare `/usr/local/bin/fish` works for me. Awesome!

[2017-08-02 23:06] randy3k commented on #8
So it looks like what is said in pty is not correct

[2017-08-02 23:16] rwols commented on #8
When I run a bare `/usr/local/bin/zsh`, I do still get these messages:

[code]
So fish seems to work fine on macOS, zsh seems unfixed.

[2017-08-03 02:26] randy3k commented on #8
I am not sure why @rwols got those errors, but it works fine for me. My zsh version is 5.3.1.

[2017-08-03 09:12] Wramberg commented on #8
I don't get the echotc message either. Will look a bit more into it.

[2017-08-03 10:34] rwols commented on #8
I have zsh version 5.3.1, I tried setting my default shell to zsh, but I still get these messages. They appear just before I can type a command again. It might be a problem on my side if it works for @randy3k

![schermafbeelding 2017-08-03 om 12 33 13](https://user-images.githubusercontent.com/2431823/28918012-ffda6936-7847-11e7-9312-7e1d99ec080e.png)

[2017-08-03 12:47] Wramberg commented on #8
My best guess is it has something to do with terminfo entries. Maybe it fails to a terminfo entry for those capabilities or something.

[2017-08-03 13:07] rwols commented on #8
I don't have any knowledge of terminfo, but I'm learning as I go :). There are some files in /usr/share/terminfo but they seem to be binary files. I learned I can use the program `infocmp` to read those files (I think?). Here is a dump of that:

[code]
I hope this can be of any use.

[2017-08-03 14:09] Wramberg commented on #8
Still just guessing here but I think for some reason your zsh is complaning that the terminal has no `UP` or `DO` capabilities. Don't know what they do, I don't have those either.

[2017-08-03 14:45] Wramberg commented on #11
Hehe thats alright - but I fail to see which advantage that would bring. As long as the thread is running I want the class to be present - but when the thread stops it will release it's reference and everything is good.

[2017-08-05 08:54] Wramberg commented on #8
@rwols could you check if you have anything that might cause this in your ~/.zshrc file ?

or maybe in some of the many files zsh sources:

[code]

Source: https://wiki.archlinux.org/index.php/zsh

[2017-08-05 09:19] rwols commented on #8
Okay. I uninstalled oh-my-zsh, and now I don't get these messages anymore (hooray). Can anyone confirm if, when they install oh-my-zsh, they get these UP and DO messages? The theme I used was called [robbyrussell](https://github.com/robbyrussell/oh-my-zsh/wiki/themes), maybe the problem is in there.

[2017-08-05 13:34] randy3k commented on #8
I am also on macOS 10.12

[2017-08-05 14:06] Wramberg commented on #8
Interesting - seems like the avit theme uses UP and DO to render the prompt. Couldn't grep them any other place in oh-my-zsh.

https://github.com/robbyrussell/oh-my-zsh/blob/master/themes/avit.zsh-theme#L9

[2017-08-05 14:17] Wramberg commented on #8
If you open a zsh session in e.g. mate-terminal and run `echotc UP 1` it moves everything up. So echotc must have some kind of idea about the capabilities of the terminal where TerminalView does not support moving everything up/down.

Don't know where these capabilities are listed though.

[2017-08-05 14:21] Wramberg commented on #8
Opening a native zsh shell and running `echotc UP 1` or `echotc DO 1` works fine for me in TerminalView using zsh 5.1.1 on Ubuntu 16.04. Ill try installing oh-my-zsh and see if it still works.

[2017-08-05 14:27] Wramberg commented on #8
Installed oh-my-zsh in newest version from master

[code]

everything still works. Changed theme from `robbyrussel` to `avit` and still not seeing the echotc message. Calling `echotc UP/DOWN 1` manually also works. Think its pretty safe to say this works for me.

[2017-08-05 14:59] rwols commented on #8
I reinstalled oh-my-zsh and I don't get the UP/DO messages anymore. This feels very strange, but I think it's safe to say that it was something on my end.

[2017-08-05 15:18] Wramberg commented on #8
That is quite - but I'm happy it works !

[2017-08-05 18:54] Wramberg commented on #11
Think I'll close this one at least for now - the run loop is pretty optimized imo and my time is probably gonna be going into gateone testing. The weakref stuff we can discuss in https://github.com/Wramberg/TerminalView/pull/40 if need ;-)

[2017-08-05 18:54] #11 closed

[2017-08-05 19:41] rwols commented on #11
Yeah, I'm pretty happy with the performance to be honest. Nice job!

[2017-08-05 20:54] Wramberg opened #48 "0.5.0 release candidate testing"
Due to the increasing amount of users and diverse environments testing is a lot work if we are to avoid regressions. For this reason, I'm considering introducing release candidates. I want this to be an opportunity for everyone to help sort out any issues before a release goes out.

I do not expect people to have time but if you do it would be much appreciated. All I'm asking is that you check out

[2017-08-05 21:27] bfelder commented on #48
Great! I have a look at it tomorrow. As mentioned I run Linux Mint 18.2 which is essentially a recent release of Ubuntu in its core.

[2017-08-06 04:53] randy3k commented on #48
Great job! `terminal_view_send_string` is working correctly.

[2017-08-06 15:19] Wramberg commented on #48
Thanks guys. Should probably mention I plan to release 0.5.0 towards the end of next week. Should hopefully be enough time to test it a bit.

[2017-08-06 15:49] Wramberg opened #49 "TerminalView roadmap"
Just to let everyone know about my development plans (and to remember everything :-)). PRs are always welcome regardless of the roadmap.

### 0.6.0
* Pyte -> GateOne terminal emulator
  * xterm support
  * 256 color support
* Editor mode where you can essentially turn the TerminalView into a normal view temporarily to use your standard sublime keybindings
* Fix for unicode issue
* Unittests cleanu

[2017-08-06 15:58] rwols commented on #49
What about a way to convert your color scheme into a "terminal" color scheme? I've been toying around with this but I haven't had much luck so far.

[2017-08-06 16:07] Wramberg commented on #49
What do you mean ? Like converting regular color schemes into TerminalView color schcmes or ?

[2017-08-06 16:13] rwols commented on #49
Yeah. Take the colors of your color scheme and fit them into the 8 color buckets of a terminal in a sensible way basically.

[2017-08-06 20:42] bfelder commented on #48
@Wramberg Works like a charm! :+1:
I tested usual command like `echo 3`, `python my_python_file.py` same output as before.
I have also written a companion plugin to TerminalView which automatically open a virtual environment if such a path is present with a project settings file. This also works as before.
I now tested with `htop`. A system monitor providing you with live updates on cpu load, netw

[2017-08-06 21:19] rwols commented on #48
There's nothing about `terminal_view_send_string` in the readme, shouldn't there a little section devoted to it?

[2017-08-06 21:24] bfelder opened #50 "More lively default color scheme."
I like to have a more lively default color scheme. Currently, it is all white font.

It should look more like this:
[Sexy Bash Prompt](https://raw.githubusercontent.com/twolfson/sexy-bash-prompt/master/screenshot.png) ;-)

At least '$' should be colored to separate user input from all the stuff before it.

Low prio, though. ;-)

[2017-08-07 11:29] Wramberg commented on #50
That is the default color scheme of the bash shell - nothing I can do to change that. It becomes a bit better once we support TERM=xterm-256color. Regardless TerminalView should ship with default config and let users decide if they want to install sexy bash prompt or zsh with all its fancy color themes ;-)

We could alter the PS1 env variable (https://www.cyberciti.biz/tips/howto-linux-unix-bash-s

[2017-08-07 11:29] #50 closed

[2017-08-07 18:12] Wramberg commented on #49
That sounds like a complex problem. On one hand you have a shell requesting something be shown in `red`. On the other, you have a color scheme with keys like `keyword.control`. How would you choose the red color ?

[2017-08-07 19:16] andreg opened #51 "Column view when listing contents inside a folder"
Hi,

when I <code>ls</code> the current folder, the column output doesn't look right.

![schermata 2017-08-07 alle 21 11 57](https://user-images.githubusercontent.com/39385/29041994-646bc9f6-7bb5-11e7-8e15-2c21c2ca9f50.png)

* OS: macOS 10.12.6
* ST3 version: Dev build 3142
* Bash version: 3.2.57(1)

Anyway, thanks for a great plugin!

[2017-08-07 19:31] Wramberg commented on #51
I need some more of the information requested in the issue template.
What is the `cmd` argument you call TerminalView with ? Just bash -l ?
What is returned if you call `echo $TERM` inside the TerminalView ?

[2017-08-07 20:23] andreg commented on #51
Calling `echo $TERM` returns `linux`. I'm not sure what you mean with the `cmd` argument question, but I haven't configured TerminalView in any specific way, it should be all factory defaults.

[2017-08-07 20:28] rwols commented on #51
@andreg run the command
[code]
and press <kbd>command</kbd><kbd>V</kbd> here (remove any sensitive information)

[2017-08-07 20:32] andreg commented on #51
There you go:

[code]

[2017-08-08 06:29] Wramberg commented on #51
DId you call `env | pbcopy` inside TerminalVIew ? If yes then it appears you have a .bash_profile, .basrc file or similar which changes the value of the TERM environment variable.

[2017-08-08 07:31] andreg commented on #51
Sorry about that. Here's the output of the command when it's called from within TerminalView (I'm on a different machine right now, but I have the same problem):

[code]

[2017-08-08 08:17] Wramberg commented on #51
THanks @andreg I'll look more into this. This is not intended behavior and definitely not something I've seen in any other tests. Do you have any thirdparty things installed like iTerm ? or anything else you can think of that would make your setup "out of the ordinary" ? Maybe some fancy ST3 theme ?

Might also be because you are running a very recent dev version of ST3. If you get the chance coul

[2017-08-08 08:32] andreg commented on #51
On my work machine, which is the one I've used to get you that last output, I'm using the latest stable version of Sublime.

I have tried the same command with both iTerm uninstalled and no custom ST3 theme, and the output is the same.

[2017-08-08 15:49] Wramberg commented on #51
I have to admit this is a weird issue. I haven't tested with bash 3 but I doubt it's related to that. Could you list installed packages ? If you have alot I think it would be easiest to just call

[code]

If you got time it might also be worth trying out the TerminalView 0.5.0 release candidate. You can install TerminalView manually like described in the README and just

[code]

I'll dig more into

[2017-08-08 18:00] andreg commented on #51
Ok, these are the packages that I currently have installed:

[code]

I've tried with version 0.5.0, and I get the same output.
It is worth nothing that the output varies depending on how wide the window is:

![schermata 2017-08-08 alle 19 56 37](https://user-images.githubusercontent.com/39385/29086806-177e5676-7c74-11e7-8f39-03b18ed6f73b.png)

Thanks so much for spending time into this. It's not v

[2017-08-08 18:54] Wramberg commented on #51
I think its worth looking into since it may also cause other problems that are less obvious.

Couldn't replicate anything from your environment - seems good. Maybe @rwols would be so kind as to share his env for comparison (I dont have macOS) ?

Couldnt find any conflicting packages either.

Since it changes with view width it almost sounds like an old issue where wrapping wasnt turned off by the

[2017-08-08 19:30] andreg commented on #51
It could be OS-related then.

I've tried all of the above, and I've also tried emptying my settings and working with Sublime's default theme, and I still had the same output.

It is worth noting that different folders behave differently; depending more on the overall number of items rather than the length of their names, they tend to display wrong the more items you have in the folder.

[2017-08-08 19:50] rwols commented on #51
OK. I have two laptops. One is a MacBook Pro with a retina screen and the other is an older MacBook Air from 2011 without a retina screen.

On the pro, I experience the same issue as @andreg if I use bash:
[code]
However, fish does it right (this is why I haven't noticed this before):
[code]
**Moreover**, on the Air there are no problems with bash:
[code]
Here are my env vars for the Pro:
[code]
A

[2017-08-09 12:09] Wramberg commented on #51
Oh no the problem is spreading ;-) I've borrowed a Macbook Pro from a buddy of mine - hopefully I'll be able to reproduce the issue.

[2017-08-09 19:28] rwols commented on #51
With 4ddc273 the problem is gone here.

[2017-08-09 19:29] Wramberg commented on #51
As it turns out vtxxx and linux has, by default, a tabstop for every 8 char. When starting pyte sets these tabstops

[code]

but when calling `tabs` in the terminal (command which reconfigures tabstops) they are essentially changed to

[code]

which begs the question if pyte has this wrong. With 4ddc2732d31b46e1486829d2f7bb6081ea829ef1 we now overwrite pyte default tabstops both on startup and on

[2017-08-09 19:33] Wramberg commented on #51
@rwols Thanks for the quick test :+1:
@andreg Hopefully it is fixed for you as well - Ill set a little time aside to ensure this didnt break anything so expect it be released as 0.5.1 in the near future.

Just FYI @superbobry - maybe you have anything thoughts on this ?
It seems that bash 3.2.57(1) on macOS assumes default tabstops to be different from what pyte has as default.

[2017-08-09 19:45] Wramberg commented on #8
I guess its ok to close this now ? Im not going to make any big announcements about support just yet - maybe in 0.6 :-)

[2017-08-09 19:45] #8 closed

[2017-08-09 19:50] Wramberg commented on #51
Funny enough it seems that pymux has already learned the same lesson :-)

https://github.com/jonathanslenders/pymux/blob/9569dda0c74c5e8b1dd8563d7ecef2c184410db7/pymux/screen.py#L175
[code]

[2017-08-09 19:51] rwols commented on #8
Yeah, I'm happily enjoying fish at the moment, I think we did enough testing.

[2017-08-09 19:54] andreg commented on #51
I can confirm all is good now, using the `devel` branch. Thank you so much!

[2017-08-11 15:03] alexbet opened #54 "Weird text in terminal"
I am gettin the weird things all over the place. I read the common problems section in your description and ran the command, but the TERM is set to linux it seems, yet I still get the weird thinks printed. Here is a copy of the printout:

`133;C;133;D;11337;RemoteHost=AlexBet@AlexBets-Mac-Pro.local1337;CurrentDir=/Volumes/ServerWebs/Sites/AlexBet/modules.v5133;AAlexBets-Mac-Pro:modules.v5 Al
exBet

[2017-08-11 15:30] Wramberg commented on #54
Looks like an iTerm issue. Unfortunately some applications do not care what type of terminal is connected and simply assumes xterm capabilities. Current devel plans include support for xterm but it requires changing the underlying terminal emulator so it's not easily done. Until then only fix is to disable iTerm when using TerminalView - if that's possible I don;'t know (not mac user).

[2017-08-11 15:33] alexbet commented on #54
Hmmmm, that is weird, because it works on my laptop with iTerm, but it doesn't work on my desktop with iTerm. How could that be?

[2017-08-11 16:19] Wramberg commented on #54
Maybe I should clarify, I'm not saying that it is an iTerm issue - it just looks like it. Could also be some other third party app messing with your bash prompt. I think @randy3k has seen something similar maybe he can pinpoint it. My best suggestion is to try to disable e.g. iTerm or other third party apps to see if that helps.

Do you normaly use bash ? Otherwise you could also try another shell

[2017-08-11 18:07] randy3k commented on #54
@alexbet

try replacing the source command of the iTerm script in your `.bash_profile` or `.bashrc` by the following
[code]

[2017-08-12 07:22] Wramberg commented on #54
Sorry I think i misunderstood you. Are you confirming that turning off iTerm fixes the issue ?

[2017-08-12 07:30] randy3k commented on #54
I am pretty sure it is caused by the `.iterm2_shell_integration.bash` given the output of the console. Disabling sourcing the script should immediately fix the issue. The matter is to figure out where the `source` command is hidden (most probably is `.bash_profile`).

[2017-08-12 07:32] randy3k commented on #54
The root of the issue is because pyte 0.5.2 does not support OSC sequence, I tried switching to pyte 0.7.0-dev and it fixed the issue. However, I couldn't figure out how to fix the resize-window issue.

[2017-08-12 14:28] alexbet commented on #54
@randy3k - Adding that code in the .bash_profile file fixed the issue. Thank you!

[2017-08-13 04:17] randy3k opened #55 "Implement CPR (Cursor Position Report sequence)"
see https://github.com/selectel/pyte/issues/71

[2017-08-13 06:17] #54 closed

[2017-08-14 13:29] rwols opened #58 "Hide Minimap?"
Since the virtual screen uses the bounds of the view anyway, I don't see any point in displaying the minimap.

[2017-08-14 13:29] rwols commented on #49
PR here: https://github.com/Wramberg/TerminalView/pull/53

[2017-08-14 14:31] randy3k opened #59 "Windows support"
https://github.com/stonewell/pymterm/tree/master/pymterm/session
A reference of emulating terminal over different platforms.

[2017-08-14 16:22] rwols commented on #58
I attempted an implementation for this but it seems you must set the minimap visibility via the window object. There's no way to subscribe to an event that tells you if the minimap visibility changed, so while you can remember the last setting in a view event listener there's no way to listen to a changing event. I suggest to make this low priority.

[2017-08-14 17:04] rwols opened #60 "Some background colors / functionality missing"
* macOS 10.12
* ST3 build 3142
* fish 2.6

<img width="769" alt="schermafbeelding 2017-08-14 om 18 54 09" src="https://user-images.githubusercontent.com/2431823/29282205-446d3816-8122-11e7-93e2-16a3c3234f82.png">
<img width="767" alt="schermafbeelding 2017-08-14 om 18 54 33" src="https://user-images.githubusercontent.com/2431823/29282206-449553d2-8122-11e7-9170-a34f37e47240.png">

When I type `ls

[2017-08-14 18:06] randy3k commented on #60
It works for zsh

<img width="443" alt="screen shot 2017-08-14 at 2 06 32 pm" src="https://user-images.githubusercontent.com/1690993/29284709-cc864504-80f9-11e7-8551-483a2f1972c7.png">

[2017-08-14 18:34] randy3k commented on #60
May be a 256 color issue?

[2017-08-14 19:00] rwols commented on #60
Yeah, I feel like that's the core issue. Just thought I'd mention it.

[2017-08-14 21:01] bfelder commented on #48
Even pudb works fine in TerminalView. This is the first time a python debugger runs find in Sublime.
Hence, @Wramberg single-handedly transformed a common editor into full-blown python IDE. :)

Still the color scheme of my system's shell is not transferred to TerminalView. The standard text is all white.
See closed issue [https://github.com/Wramberg/TerminalView/issues/50](https://github.com/Wramb

[2017-08-14 21:07] rwols commented on #48
@bfelder https://github.com/Wramberg/TerminalView/pull/53 should liven up the colors 😄

[2017-08-14 21:19] randy3k commented on #48
@bfelder agree, I have been waiting a working terminal for so.... long.

[2017-08-14 21:32] bfelder commented on #48
@rwols to the rescue. I like to have candle light dinner with Marianna!

@randy3k a terminal as a fundamentally enabling tool opens up so many great opportunities to integrate useful features into sublime. I am particularly fond of the idea to integrate a minimal python debugger with
TerminalView. Something simple, just wrapping ipdb or bpdb, but using both the editor view to indicate current line

[2017-08-14 21:46] pyking2 opened #61 "Introducing ShellVE - Automatic Python VEs in TerminalView"
I have written a very cool little companion plugin to TerminalView, I named [ShellVE](https://github.com/bfelder/ShellVE).

It automatically opens a TerminalView tab with the python virtual environments of a project already initialised. I have always loved how PyCharm just associates a project with a particular virtual environment, so you never have to worry whether your files are run by the corre

[2017-08-15 12:25] Wramberg commented on #60
Pretty sure this goes under the 256 color feature so have to wait for some more gateone testing ;-)

[2017-08-15 12:25] #60 closed

[2017-08-15 12:27] Wramberg commented on #59
Very interesting - I'll have a look at this. Lets move the discussion to #3 though so we dont have multiple issues about the same feature.

[2017-08-15 12:27] #59 closed

[2017-08-15 12:27] Wramberg commented on #3
@rwols mentioned this in #59

[code]

[2017-08-15 12:28] Wramberg commented on #58
As far as I know its not possible for at plugin to control the minimap ?

[2017-08-15 12:29] Wramberg commented on #51
Gonna close this for now. Hopefully Ill have time to release 0.5 soon. Seeing as pymux has done the same change as this one I'm gonna include the fix in 0.5 as well.

[2017-08-15 12:29] #51 closed

[2017-08-15 12:32] Wramberg commented on #61
Interesting plugin @bfelder. Im glad to see you have use for my plugin :-) :+1:

[2017-08-15 12:34] Wramberg commented on #48
Yea I should probably include a bit about it. Think Ill do that and then release it as soon as I find time.

[2017-08-15 12:44] rwols commented on #58
It's available under `view.window().set_minimap_visible(True/False)` and `view.window().is_minimap_visible()`. The problem then is that the minimap being visible is a property of the window, for our purposes it should have been a property of the view.

[2017-08-15 12:46] Wramberg commented on #58
Oh didn't know that :-) But yea - we probably shouldn't mess with the window.

[2017-08-15 15:59] bfelder commented on #61
@Wramberg And I am sure I am not the only one. :+1:

You may leave this issue open as long as you consider fit.
Once it has been accepted into the PackageControl channel, I am going to introduce it on Subline Forum. The issue may be closed then.

[2017-08-15 17:14] bfelder commented on #48
@Wramberg Color might be of low priority right now.
Still, let me tell you that my normal bash indeed features color.

The most important aspect is to color the prompt (unchangeable) differently from user input (changeable) for easier telling them apart.

Switching to another shell is no option for me, regarding how deeply integrated bash is with my Linux distro.

[2017-08-15 18:06] Wramberg commented on #48
Probably because your terminal sets TERM to xterm or something.

In that case you can look into changing your prompt manually. https://www.cyberciti.biz/faq/bash-shell-change-the-color-of-my-shell-prompt-under-linux-or-unix/

[2017-08-15 18:19] bfelder commented on #48
@Wramberg Thanks for the link a thousand times. The command `export PS1="\e[0;31m[\u@\h \W]\$ \e[m "` not only colors the prompt but also shortens the path, making the prompt much tidier.

I use that as an arg to the TerminalView command until xterm will get integrated into TerminalView.
(Of course, I am also going to checkout @rwols color packages. Though you suggest they may not work.)

[2017-08-15 18:26] Wramberg commented on #48
No problem :-) I think @rwols PR will work just fine. But it only changes text that is already colored to another color - it won't add new colors anywhere (I think this is intended).

[2017-08-15 18:34] rwols commented on #48
Yeah, that PR attempts to assign colors of the current scheme to the 8 basic terminal colors black, white, red, blue, green, cyan, magenta and yellow. It doesn't extend to 256 or even 16 colors.

[2017-08-15 18:42] Wramberg commented on #48
0.5.0 is now live. Thanks for helping out everyone. Seems like 0.6 is already going to include a lot of new exciting things :-)

[2017-08-15 18:42] #48 closed

[2017-08-16 14:07] danielmoney opened #62 "Arguments not being passed to bash command"
When using a command like
`"cmd": "/bin/bash -c ssh example.com"`
the arguments are not being passed to the command (e.g. in this case ssh is being run but is not being passed the example.com argument).  I have confirmed this with the new keep_open option.  As a work around I call a shell script that then calls ssh but this seems sub optimal.

OS: OSX 10.10.5
Bash: GNU bash, version 3.2.57(1)-rele

[2017-08-16 16:03] rwols commented on #62
Could you try this:
[code]
Or this:
[code]

[2017-08-16 16:05] rwols commented on #62
@danielmoney could you try this:

[code]
I'm guessing it's not going to work, but it doesn't hurt to try. With the PR it should definitely work.

[2017-08-17 08:46] danielmoney commented on #62
No, that doesn't work either, produces:
``ssh: -c: line 0: unexpected EOF while looking for matching `''``
``ssh: -c: line 1: syntax error: unexpected end of file``

[2017-08-17 10:36] Wramberg commented on #62
Never tested this but definitely a valid use case and having to resort to shell scripts is sub-optimal I agree. Thanks for the PR @rwols Ill look into this as soon as possible.

[2017-08-17 17:33] mandeep opened #64 "Open Bash Terminal results in frozen terminal with blinking cursor"
OS: Debian 9 (Gnome 3 DE)
Bash version: GNU bash, version 4.4.12(1)-release (x86_64-pc-linux-gnu)

With the 0.5.0 release, when I select Open Bash Terminal from the command palette, a terminal window opens showing only a blinking cursor. The prior release worked fine. Let me know if there's anything else I can add to help.

[2017-08-17 17:40] mandeep commented on #41
Was this supposed to be in the 0.5.0 release? Using the custom command doesn't seem to change anything.

[2017-08-17 17:43] mandeep commented on #64
Changing ``terminal_view_show_colors`` from true to false results in a working terminal. Changing this setting back to true also seems to work.

[2017-08-17 17:48] mandeep commented on #41
After playing around it seems that the project_path and folder commands work, it's just not what I was looking for.

If I'm working on a file at /home/user/Repos/some-project/some_project/file.py, how do I open a terminal with the some-project directory as the cwd? Is there a specific substitution I can make?

Thanks for all the help.

[2017-08-17 20:01] rwols commented on #41
Where does your `.sublime-project` live?

[2017-08-17 22:44] megadr01d commented on #41
I'm also interested in this. Help me and @mandeep figure this out...

My `.sublime-project` file has the path set to

[code]

If I call the default **Terminal View: Open Bash Terminal** command like so

[code]

while viewing `~/admin/dev/note/notepad.txt`, it opens the terminal on `~/admin/dev/note`.

If I call @rwols command suggestion with

[code]

while viewing `~/admin/dev/note/notepad.txt`, i

[2017-08-17 23:44] randy3k commented on #41
If I understand correctly, `${folder}` is the first folder of the current window. You just have to make sure the first folder of the window is `~/admin/dev/note`.

[2017-08-19 07:23] Wramberg commented on #64
So you cannot reproduce this ? I'm thinking maybe the upgrade messed something up which required an ST3 restart to be fixed.

[2017-08-19 08:09] Wramberg commented on #58
I guess we can close this.

[2017-08-19 08:09] #58 closed

[2017-08-20 10:34] jmolero opened #65 "áá characters added to tree command output."
Hi. Thank so much for this awesome package.

When I run the tree commnad I get some weird characters:

Notice the áá added. I use the same font as in regular text files, but these characters don't show up when I pipe the output to a sublime file.

* OS used:

* Bash version:

* Arguments being used with the terminal_view_open command:

* env dump:

[2017-08-20 13:30] randy3k commented on #65
It looks an Unicode issue to me.

[2017-08-21 12:14] Wramberg commented on #65
Hi @jmolero

Im glad you're enjoying the plugin and thank you for logging a proper issue with all the relevant information. I agree with @randy3k it looks like a unicode issue like #36. This is at the top of my TerminalView todo list but my time is very limited these days so it might be a little while before I have time to look into it.

[2017-08-21 16:44] randy3k commented on #36
There is a workaround for the first issue: setting the `LANG` variable before launching ipython `LANG=en_US.UTF-8 ipython`
[code]

The second issue is still a problem.

[2017-08-22 11:42] nchursin commented on #64
I have the same problem, using zsh. Switching back to bash did nothing, so did color switching off/on. Let me know if I can help with this

[2017-08-22 12:39] Wramberg commented on #64
When this happens your probably have an exception in the sublime text console. Would be great if you could dump that.

[2017-08-22 12:41] nchursin commented on #64
Sure, here it is.
[code]

[2017-08-22 13:06] rwols commented on #64
Could you print your env variables from within sublime? Open the console, (the actual console, not a TerminalView), then **open a new buffer**, and then type this in the console:
[code]

[2017-08-22 13:10] nchursin commented on #64
[code]

[2017-08-22 13:12] rwols commented on #64
Are you using the system bash (3.2) in /usr/bin or the brew bash (4.4) in /usr/local/bin?

[2017-08-22 13:15] nchursin commented on #64
I think it's 4.4 launching by default. At least it runs when I invoke `bash`.

[2017-08-22 15:18] infocortex commented on #64
I was able to resolve this by closing all files/windows and relaunching Sublime. Toggling settings did not work for me.

[2017-08-22 18:44] SMores opened #66 "Keyboard Scrolling Broken"
Using Sublime Text 3 on macOS
[code]

I added the following to my Sublime Text Key Bindings:
[code]

But when using them in TerminalView, the up command jumps all of the way to the top of the history, and then the down command jumps not quite to the bottom, leaving me in a state where there's no way to see the current prompt. If I press enter, I get a prompt (usually at the bottom?), but all of th

[2017-08-22 21:17] mandeep commented on #64
@Wramberg I am able to reproduce this by uninstalling TerminalView and reinstalling it via Package Control. However, it does seem that a restart of Sublime fixes the problem.

[2017-08-22 21:26] megadr01d commented on #66
Works fine here on ST Dev 3142, OS X 10.11.
Did you change the `terminal_view_scroll_ratio` value in TerminalView's settings?

[2017-08-23 14:13] SMores commented on #66
Yeeeeup that was it. Thanks!

[2017-08-23 14:13] #66 closed

[2017-08-25 08:08] nchursin commented on #64
Closing everything helped. Just really didn't want to do that 😃
Seems like Sublime needs feature like on VS Code - reload current workspace)

[2017-09-02 03:26] randy3k commented on #33
I could still reproduce it when running a heavy command in the terminal.

Step:

- open shell (bash / zsh)
- run a very heavy command, for my case, I am using Julia and compile a package.
- close sublime text completely
- from a regular terminal, I can still see the process

[code]

[2017-09-02 03:40] randy3k commented on #33
ai....it may an issue of Julia itself....I can reproduce the same thing on a regular terminal.

Sorry for the noise.

[2017-09-03 13:12] Wramberg commented on #33
Glad you found the cause - very glad its not with TerminalView ;-)

[2017-09-03 13:14] Wramberg commented on #64
Thanks for all the info guys 👍
Im very busy these days but as soon as I have some time I'll look into this.

[2017-09-07 06:41] stevage opened #68 "A workaround for .bash_profile file with coloured prompt?"
I do indeed have a .bash_profile file, which sets a coloured prompt (dark grey text - my terminal is pale yellow):

`export PS1='\h \[\e[1;34m\]\w\[\e[m\] \[\e[1;30m\]\$\[\e[m\] \[\e[0;30m\]'`

In TerminalView this is no good, as my colour scheme has black background (so the text is dark grey on black).

Is there a workaround? Either:

- A script that would always be run when opening TerminalView

[2017-09-07 06:44] stevage commented on #68
Well, I guess one workaround is this in my TerminalView.sublime-setings - User:

[code]

[2017-09-07 12:04] Wramberg commented on #68
Hey @stevage

You can change the cmd argument when opening terminal view so bash does not read /etc/profile, .bash_profile or similar. Simply drop the `-l`.

[code]

Alternatively (I have never done this myself) I guess you could also set an environment var before launching bash like

[code]

and then add an if sentence around your prompt in your bash_profile - something like

[code]

Finally you

[2017-09-15 21:16] Axeltherabbit opened #69 "CLEAR command issue"
"clear" command freeze the terminal window

[2017-09-16 00:47] megadr01d commented on #69
FYI, both `clear` and my `cls` alias work OK on ST Dev 3144, OS X 10.11.

[2017-09-17 11:10] Axeltherabbit commented on #69
Not work on Linux, arch, LXDE

[2017-09-18 18:53] pyking2 commented on #61
ShellVE is now live on PackageControl.io. [Here](https://packagecontrol.io/packages/ShellVE)
(The readme page is screwed up, I have to check what is going on there.)

@Wramberg I'll close this issue. You may later decide to mention ShellVE in the README.

[2017-09-18 18:53] #61 closed

[2017-09-19 19:01] rushsteve1 commented on #69
Can confirm the bug on Fedora 26, Gnome 3.24.3, Sublime Text 3 build 3143 with the latest TerminalView version from PackageControl.

[2017-09-21 09:07] Wramberg commented on #68
Any updates on this @stevage ?

[2017-09-21 09:09] Wramberg commented on #69
Hey guys - sorry for the late reply im very busy these days. Can anyone with the problem provide some more information ? If the terminal freezes my guess is that pyte (my terminal emulator "backend") chokes on something. This is often because your TERM environment is overridden to something else than "linux" in your .bash_profile or similar.

You can check the TERM var value by calling echo $TERM

[2017-09-22 05:26] stevage commented on #68
Thanks! Somehow I missed this original notification. I think those are all reasonable options, but I think I will actually just switch my iTerm colour scheme to use a dark background, and then use a colour scheme that works in both iTerm and TerminalView. I don't have any particular need for the pale yellow background I have at the moment.

Mostly using TV on another machine with default iTerm col

[2017-09-22 09:25] Axeltherabbit commented on #69
it print: "linux"

[2017-09-25 08:21] Wramberg commented on #68
Glad you like it :+1: Ill go ahead and close this :-)

[2017-09-25 08:21] #68 closed

[2017-10-02 02:13] stevage opened #70 "Always set environment variable"
Related to #68, I think there are lots of situations which would be easier to manage if there was a simple way to tell, from within your .bash_profile, whether the current shell is operating inside TerminalView.

The easiest way to do that would be to simply set an environment variable, like `TERMINALVIEW=0.5.0` or something.

My current need is I want to not set the `PROMPT_COMMAND` variable if i

[2017-10-03 07:57] christopher-paul-shaw commented on #69
I can confirm this affects Ubuntu 16.04 and 16.10 64bt.

This is with both a blank .bash_rc and a missing .bash_rc

[2017-10-05 10:39] jkhaled commented on #69
also ubuntu 17.04, crash

[2017-10-14 05:51] gj1118 opened #71 "ZSH garbage values ??"
I am seeing some garbage values whenever I am using the zsh shell. I tried both ways
1. launching it from the bash prompt and
2. launching it whenever I launch the shortcut

Please see the below snapshot for more information.
![image](https://user-images.githubusercontent.com/473101/31573056-bbcc05a2-b081-11e7-8f4f-ce14673150b3.png)

* OS used : MacOS Sierra 10.12.6
* Bash version 3.2
* Arguments

[2017-10-14 06:02] gj1118 commented on #71
Please note #54 did not fix the issue for me .
`C02T9AVHGTFM:~ gjanjua$ /bin/zsh
1337;RemoteHost=gjanjua@C02T9AVHGTFM1337;CurrentDir=/Users/gjanjua1337;ShellIntegrationVersion=5;shell=zsh%
133;A{17-10-14 1:58}C02T9AVHGTFM:~ gjanjua% 133;B `

bash works fine for me. When I try with ZSH it prints garbage value in the view.

[2017-10-14 12:56] randy3k commented on #71
For ZSH, obviously you need to edit `.zshrc`, not `.bash_profile`.

[2017-10-14 16:22] gj1118 commented on #71
sorry, i meant to say .zshrc. Just to confirm , it still shows the same thing.

[2017-10-14 21:16] mandeep commented on #41
I changed my workflow and now ``${folder}`` works for what I want.

Before, I had all of my repositories open in the project so ``${folder}`` would go to the directory containing all of my repositories instead of the repository directory that was being worked on.

[2017-10-15 02:09] randy3k commented on #71
And the file is `.iterm2_shell_integration.zsh`

[2017-10-15 02:42] gj1118 commented on #71
I am still getting the same issue
https://cl.ly/n5xX
https://cl.ly/n5vu

[2017-10-15 03:01] randy3k commented on #71
The file is `.iterm2_shell_integration.zsh`, not `.iterm2_shell_integration.bash` for ZSH.

[2017-10-15 03:01] randy3k commented on #71
and you have to edit `.zshrc`.

[2017-10-15 13:20] megadr01d commented on #71
@gj1118 Dude, get it right!

Add

[code]

to your `.zshrc` file already!

[2017-10-15 15:16] monday0rsunday commented on #8
I reinstall oh-my-zsh and I don't get the UP/DO messages too, but when I change my theme to avit, those messages come again

[2017-10-17 09:22] tintumonmartin opened #72 "Need to focus on where we're typing."
When I minimized the size of that Terminal view in sublime, The typing line went upside, it wasn't seen in viewable area. While typing it need to be focused and shown. I need to manually scroll up and see the line.

* OS used - Ubuntu 14.04 LTS
* Bash version - GNU bash, version 4.3.11(1)-release (x86_64-pc-linux-gnu)
* I used the sublime tab with minimized size.

[2017-10-23 17:41] shyaminayesh commented on #69
Same here ... :(

System : Arch Linux + i3
Version : Sublime Text 3 build: 3143
Shell: zsh 5.4.2

[2017-11-06 14:21] DougBeney opened #73 "Unable to paste"
* Ubuntu 17.10
* 4.4.12

So, essentially pasting into a terminal view doesn't work. I've tried `ctrl+shift+v`, `ctrl+v`, and simply right-clicking and selecting paste, but it does not seem to work.

I believe the issue is apparent in Ubuntu 16.04 too.

[2017-11-12 20:26] gabrc52 commented on #69
As a temporary solution, you can create an alias:
alias clear='printf "\ec"'

[2017-11-14 06:34] craigcosmo opened #74 "can not copy and paste"
Please provide the following information when submitting a bug:

* OS highr siera
* Bash version
* copy and paste

I copy the text from out side (note app) and try to paste it in the terminal. It didn't work.

I copied by cmd+c and paste by cmd+v

[2017-11-14 13:42] megadr01d commented on #74
Try <kbd>ctrl + shift + v</kbd>.
https://github.com/Wramberg/TerminalView#keybindings

[2017-11-15 08:11] craigcosmo commented on #74
thanks. trying to map those to cmd+c and cmd+v. doesn't seem to work

[2017-11-15 13:21] randy3k commented on #74
Just want to make sure that they are `super+c` and `super+v`

[2017-11-17 09:48] craigcosmo commented on #74
even `super+c`  `super+v` not working

[2017-11-17 14:34] randy3k commented on #74
Should it be the file `Default (OSX).sublime-keymap`?

[2017-11-23 10:51] asinyagin opened #75 ""UnboundLocalError: local variable 'interval' referenced before assignment" on npm start"
Hi,

I have troubles trying to stop `npm start` with ctrl+c in TerminalView.

I've created a new app with create-react-app and I get the following exception in the console when I run the app with `npm start`:
[code]

After it I press ctrl+c and it kills the `npm start` but doesn't update the terminal output. It keeps showing
[code]

The issue is probably related to #43, but it doesn't really helps

[2017-11-29 22:07] davidperezgar opened #77 "How can i get terminal_view_open only for project folder?"
I'd like to make a key that always get the terminal with project folder. Is it possible?

[2017-11-29 22:31] rwols commented on #77
Yes: https://github.com/Wramberg/TerminalView/issues/41

[2017-12-02 08:38] #77 closed

[2017-12-02 08:38] davidperezgar commented on #77
Thanks!

[2017-12-07 15:14] AlexWang-16 commented on #69
I can confirm that this is happening on MacOS 10.13.2 on ST3 build 3143 on the latest TerminalView. I'll be using ctrl + L for now

[2017-12-07 15:17] AlexWang-16 opened #78 "Start TerminalView in the working directory I'm currently in for ST 3"
It would be a cool feature to have if TerminalView can be configured to start in the current working directory for the project that I'm working on currently in ST3. Does anyone know if it is possible to configure this?

[2017-12-07 15:22] rwols commented on #78
See: https://github.com/Wramberg/TerminalView/issues/41

[2017-12-07 15:47] AlexWang-16 commented on #78
That's exactly what I was looking for. Thanks!

[2017-12-07 15:47] #78 closed

[2017-12-10 23:26] christophercheng opened #79 "running create-react-app's yarn start freezes terminal view"
Hi, this is a cool plugin, but Im having trouble with my particular use case.

I'm running a local web server that's part of the facebook's create-react-app program.  The web server runs successfully, but the terminal view screen freezes.  This is the last thing printed to the terminal:

Christophers-MacBook-Pro:router-test ccheng$ yarn start
yarn run v1.2.1
warning ../../../../package.json: No li

[2017-12-12 16:48] Faved commented on #71
Worth noting that just adding the above doesn't fix it, you need to comment out line to get it to work:
`test -e "${HOME}/.iterm2_shell_integration.zsh" && source "${HOME}/.iterm2_shell_integration.zsh"`
is **Replaced**. by
[code]

in your `.zshrc` - this is what I had to do to get it work

[2018-01-02 15:21] ipkpjersi commented on #3
Any update on this for 2018? I would really like to see this happen.

[2018-01-03 15:24] Wramberg commented on #3
I'm afraid my spare-time for personal project like TerminalView has been non-existent for some time. Hopefully I'll get more time in the future but I don't think support for Windows is going to happen any time soon. I have looked into it but seems like it is going to require a lot of work.

[2018-01-03 20:18] pichillilorenzo commented on #3
Hi @Wramberg! I really like your plugin! I already use it on my [JavaScript Enhancements](https://github.com/pichillilorenzo/JavaScriptEnhancements) plugin and I would really to see this happen 😄 .

[2018-01-04 12:52] adexerivera commented on #18
@Wramberg, you are right,

but I would like to have activated the TrailingSpaces plugin too.

Thanks!!

[2018-01-05 19:13] chadbdot opened #80 "Trouble using Pipenv with TerminalView through Command Palette."
Hi,

This might be too specific for you to spend much time addressing, but I'm getting errors trying to run Pipenv (for Python virtual environments) via the Command Palette (e.g., `\usr\local\bin\bash -l -c pipenv shell`). Opening a bash shell (command: `\usr\local\bin\bash -l -c`), then running `pipenv shell` works fine.

I'm on MacOS 10.13.2 using Bash v.4.4.12(1) (via Homebrew).

My environment

[2018-01-19 11:10] TriMoon commented on #69
Confirmed on Debian 9.3 with `clear` from:
  - ncurses-bin                 6.0+20161126-1+deb amd64

`cls` & `CTRL+L` works though...

[2018-01-23 04:03] yangweijie commented on #74
When i exchange modify keys ，
![image](https://user-images.githubusercontent.com/1614114/35257620-548974c0-0035-11e8-94a6-ef01399f7642.png)

i found command keys work.

[2018-01-27 22:58] skytraveller opened #81 "Delete's theme on next startup"
* OS : Linux Kali x64
* Bash : GNU bash, version 4.4.12(1)-release (x86_64-pc-linux-gnu)
* Args : None
* Dump : Unable

Installing TerminalView is fine, upon the next startup of Sublime, it delete's my theme (Midnight) witch causes Sublime to show error messages repeatedly. Removing the theme did not fix the issue and I had to delete and re-download Sublime. Thanks,

[2018-02-24 03:02] ELJEFEonAtrunk commented on #8
There is a roughway to get rid of  these UP/DO messages when using avit.
Find 'avit.zsh-theme' and edit it. It's located in the themes/ directory in the oh-my-zsh distribution.
Find and delete '%{$(echotc UP 1)%}' and '%{$(echotc DO 1)%}' @line9, then write, quit, reboot.
It works fine on my end.

[2018-02-26 16:22] igloocube commented on #71
I am having no luck here.

OS X: 10.13.3

[code]

I have added to .zhsrc:
[code]

But I cannot find this line anywhere: ```test -e "${HOME}/.iterm2_shell_integration.zsh" && source "${HOME}/.iterm2_shell_integration.zsh"```, as mentioned by @Faved

[2018-02-26 16:28] randy3k commented on #71
it looks like it was not caused by the iterm script but your prompt. Try resetting your prompt to see if it will fix it.

[2018-02-26 16:33] igloocube commented on #71
@randy3k Sorry, what do you mean by 'resetting you prompt'? Clear all my sessions?

[2018-02-26 16:39] igloocube commented on #71
Ok, I've reset ~/.zshrc to master, put in those lines, and I'm good now

I'll re-add things a bit at the time and find the cause!

[2018-02-26 17:58] randy3k commented on #71
If you launch sublime text from a terminal, the environmental variables are also forwarded. You may want to check which setting is corresponding to the display of the prompt.

[2018-03-04 16:10] deathaxe opened #83 "Use winpty to support Windows"
Microsoft VS Code uses https://github.com/rprichard/winpty as middleware to access PowerShell on Windows. Winpty is a package which provides an unix like API for PowerShell.

I am wondering whether it was possible to let TerminalView make use of it to make it work on Windows operating systems.

[2018-03-04 16:59] rwols commented on #83
While I'm not a windows user, I'm very interested in this approach nonetheless.

[2018-03-09 22:05] ButcherWutcher opened #84 "Scroll history not working"
Hi. I just installed the package and it was working correctly. But the scroll history is not working now. All the lines that falls out of the view are deleted. The amount of lines kept by the terminal view depends on the size of the view.

![image](https://user-images.githubusercontent.com/20805317/37231367-a8415954-23c9-11e8-979a-62ddd654cbc0.png)

Even when i resize the terminal it deletes the l

[2018-03-09 23:40] ButcherWutcher commented on #84
Sorry, my bad. I didn't noticed the shortcuts for scrolling... it works fine.

[2018-03-09 23:40] #84 closed

[2018-03-14 10:28] pat-s commented on #8
Hey guys, just a quick question: Are zsh themes supported? Mine (agnoster) is not showing up.

[2018-03-15 17:27] ericbjones commented on #74
looks like it works now as long as you add this to the keybindings:
[code]

[2018-03-15 19:45] megadr01d commented on #74
Done above but reported not working by @craigcosmo: https://github.com/Wramberg/TerminalView/issues/74#issuecomment-345195875

TerminalView opens `Default.sublime-keymap` but as pointed out by @randy3k, and confirmed by you and me, **it works on** `Default (<OS-SPECIFIC-NAME>).sublime-keymap`: https://github.com/Wramberg/TerminalView/issues/74#issuecomment-345259633

[2018-03-15 20:00] ericbjones commented on #74
Well, actually for my testing I did add it to the preferences that open by pressing `cmd+shift+p` and searching for `TerminalView:Keybindings`, which does open `Default.sublime-keymap` just like @craigcosmo showed in his screenshot.  My comment was to confirm that contrary to his experience, following what he tried worked perfectly for me.
![screen shot 2018-03-15 at 12 49 37 pm](https://user-imag

[2018-03-16 01:09] megadr01d commented on #74
Sorry man.  I was under the impression you had success only by adding it to `Default (<OS-SPECIFIC-NAME>).sublime-keymap` specifically. So I guess it works either way, you just have to override keys that are already used in ST, as stated in https://github.com/Wramberg/TerminalView#keybindings.

Thanks for the confirmation.

[2018-03-22 01:54] brownieboy opened #85 "Red borders between lines"
Just installed TerminalView for the first time.  When I open it, TerminalView defaults to displaying an ugly red border around all lines, like so:

<img width="446" alt="sublime-terminal" src="https://user-images.githubusercontent.com/1781909/37746582-0d77dd02-2dcf-11e8-8784-029344c83983.png">

This happens on two different machines: one Mac OS X Sierra (bash version 3.2.57(1)) and the other Xubun

[2018-03-22 06:24] rwols commented on #85
Do you have a plug-in called “trailing spaces”? See: https://github.com/Wramberg/TerminalView/issues/18

[2018-03-22 06:56] brownieboy commented on #85
Bingo!  Yes, I do, indeed, have the TrailingSpaces plugin installed, and disabling it has solved the problem for me.

Many thanks, @rwols.

(Perhaps if the original reporter of #18 had spelled "borders" correctly, then I might have found that in the search before posting myself!)

Closing this issue.

[2018-03-22 06:56] #85 closed

[2018-04-07 09:10] f34nk commented on #39
Any news on this?

[2018-04-14 11:58] randy3k commented on #83
https://github.com/spyder-ide/pywinpty

There is also a python bindings to winpty

[2018-04-17 06:20] dunderX opened #86 "Changing background color doesn't change background of non-white characters"
I tried to change the background color from black to #3f3f3f. So I changed all (4) occurrences of #000000 to #3f3f3f, but got this:

![screenshot-1](https://user-images.githubusercontent.com/28021979/38851791-eb154546-421f-11e8-824e-deb7535e50e5.png)

how can I eliminate the black behind the non-white characters?

Thanks for the awesome plugin!

[2018-04-18 09:09] dunderX commented on #86
Thank you fore replying!
I did this change, and got this funny look:

![screenshot-2](https://user-images.githubusercontent.com/28021979/38922514-03c5d24a-4301-11e8-8d0e-62872c978a4c.png)

The username font color should be green and pwd should be blue, like in the first post. But the change ruind it somehow.

[2018-04-18 12:50] Wramberg commented on #86
Sublime text has some weird bug that does not allow anything with a foreground color to have the same background. You have to change your background slightly there places where the color was `#000001`

[2018-04-18 13:04] dunderX commented on #86
That's it!
thanks

[2018-04-18 13:04] #86 closed

[2018-04-19 17:43] quantumds commented on #28
Any updates on this issue? ST3 + Anaconda is a fantastic setting, ntl I must always come back to Anaconda Spyder due to this issue. Thanks!

[2018-04-20 07:06] Wramberg commented on #28
Until https://github.com/SublimeTextIssues/Core/issues/1838 gets resolved I'm afraid there's not much to do.

[2018-04-20 07:08] Wramberg commented on #21
Im just gonna close this. I trust you can refactor yourself if still relevant - I just don't have the time to support something like this.

[2018-04-20 07:08] #21 closed

[2018-04-23 13:52] bararchy opened #87 "wierd red lines"
a picture worth a 1000 words :)
![screenshot at 16-50-38](https://user-images.githubusercontent.com/1631073/39130784-a332a3bc-4716-11e8-8a9c-18ba05e0d4b0.png)

[2018-04-23 14:12] Wramberg commented on #87
See https://github.com/Wramberg/TerminalView/issues/18 :-)

[2018-04-23 14:19] #87 closed

[2018-05-11 16:09] TheNexusDesigns commented on #3
Hope there is a windows support in the future :)

[2018-05-17 17:36] spacekookie commented on #49
Would it be possible to hook the scrolling into the ST3 preview so that the command history can be seen in it?

[2018-05-18 00:24] aisync opened #89 "Basic issue apologize in advance: I'm getting incorrect terminal prompt when trying to default TerminalView to ZSH"
On OSX /ST3 fully updated. I was troubleshooting this prompt I would get upon switching shell to ZSH in terminal view. The prompt I'd get was:
[code]

I'm not sure what happened but all of sudden it works. I definitely changed ~/.zshrc as suggested on forums with people with any related issues. But I'm going to have to reinstall this all on another cpu. This is the current .zshrc:

[code]
But impo

[2018-05-18 01:06] aisync commented on #89
Issue I'm trying to fix now is only in ST3. On typing any command the first two letter seem to 'stick' but the command still works.

For instance:

it still opens the file. But I don't know why it autocompletes like that only in Terminal View. I'm trying to find any plugins that might be the culprit.

[2018-05-18 07:06] Wramberg commented on #89
I do not use zsh myself so I'm afraid I can't help much. Maybe @randy3k would be so kind as to help you out ;-)

[2018-05-18 07:08] #89 closed

[2018-05-18 19:36] wishinghand opened #90 "Very large indentation when using ZSH"
* OS used: MacOS High Sierra 10.13.3
* Bash version: Zsh stable 5.5.1 (installed from Brew)
* Arguments being used with the terminal_view_open command:
[code]

* A dump of the environment vars from the terminal view (call `env` in the terminal inside ST3)
[code]

My issue is that when I open a new terminal tab with `ctrl+alt+t` is that the indentation for where the command appears is very large. I

[2018-05-19 21:43] scristopher commented on #3
Just stumbled across this plugin today, it does work for me in windows 10 with WSL if I launch sublime from WSL. I know it sounds like a work around but the functionality is still there and it works fine for me with no issues. In win10 I use a VcXsrv, and a vbs script that I found
 to launch xfce4-terminal on display :0, then launch sublime from the terminal, then I can use the plugin with no prob

[2018-05-20 23:02] kl2792 commented on #13
what happened to this?

[2018-05-22 13:05] Wramberg commented on #13
@kl2792 No this has not been added yet

[2018-05-23 14:28] duraki opened #91 "Can't scroll in VIM mode"
* OS used: Mac OSX 10.13.4
* Bash version: 3.2 (zsh: 5.3)
* Arguments being used with the terminal_view_open command: (none)

If you install or use [Vintageous](https://github.com/guillermooo/Vintageous) you can see that scrolling is not possible. I tried several things (page up/down, arrows, using Xj/k, gg and it all seems like history is not existent aka cursor/caret just starts on first line of

[2018-05-27 04:31] urmilparikh commented on #83
Please add Windows support...

[2018-05-29 09:31] urmilparikh commented on #83
Also consider cmder or git for windows options. They offer very usable bash shell.

[2018-05-31 19:18] Wramberg commented on #91
Im not familiar with VIM mode but my best guess would be that the scrolling hotkeys are blocked by the VIM mode ? Have you tried specifically setting the TerminalView scroll hotkeys in your user keymap ?

[2018-06-01 09:44] duraki commented on #91
Thanks for responding. Switched scrolling to `ctrl+j/k" and now it works. Shame I can't use modus like `10ctrl+j` tho.

[2018-06-01 09:44] #91 closed

[2018-06-03 19:31] sollymay commented on #90
How are you able to get the power line icons showing on SublimeText TerminalView? I am struggling to get them to work! everything else works ok

[2018-06-03 19:34] wishinghand commented on #90
@sollymay I installed the powerline fonts using this [repo](https://github.com/powerline/fonts). It was such a long time ago I'm not sure what else I did. I'm also using the Agnoster theme via Oh My Zsh.

[2018-06-05 17:44] hidroo commented on #69
Hello, I am using Mac os X and I have the same issue. 'clear' did not work for me. It crashed the terminal view window.

Added the alias:
alias clear='printf "\ec"'

Why is this happening?

[2018-06-15 18:41] randy3k commented on #83
For the reference, I am working on a cross-platform Terminal
https://github.com/randy3k/Console

[2018-06-19 14:17] urmilparikh commented on #83
@randy3k, Console works like a charm on Windows. Please give option to select default shell. I generally use cmder or Git for Windows (bash).

Thanks!

[2018-06-19 15:10] randy3k commented on #83
@urmilparikh thank you for testing it. Please note that `cmder` is not a shell, it is a program which could open a number of shells, cmd, powershell or bash. Changing default shell is supported yet, but you could call the command `console_open` with the argument `cmd`.

[2018-06-29 17:04] Arcanius opened #92 "Disappearing content (not scrollable)"
When I run terminal in Sublime Text 3, it is unscrollable. Which means that when things get printed into the terminal, they get appended only as long as there is space on the page (height of the editor's window). When there's no more space, the content in the Terminal seemingly scrolls up and the new line gets appended, however, the oldest line from the top gets forever removed.

Unlike in normal

[2018-07-12 19:04] thisisabdus commented on #69
**Bug Report**
`clear` command isn't working. It prints a newline and freezes the window.
Distro: Arch
Shell: Fish

[2018-07-12 22:24] justinsutw opened #93 "Is middle-click-paste supposed to work in TerminalView?"
I can't find any information about this.

[2018-07-13 06:07] justinsutw commented on #92
You are referring to scrolling with mouse wheel, right?
Try using alt key with mouse wheel to scroll.

[2018-07-13 07:28] Arcanius commented on #92
Nope, all I can do is Fn+Shift+Up/Down to scroll (as I recently found out). Would it be possible to allow scrolling the same way as in any other file?

I should probably note I'm on macOS.

[2018-07-13 12:48] duraki commented on #92
Had same issue, maybe related to #91?

[2018-07-13 12:52] Arcanius commented on #92
Yeah, I've seen it but I don't think it's related. I'm not using Vintageous and I don't need to bind hotkeys to anything because Fn+Shift+Up/Down can be used for scrolling. I would appreciate it if I could scroll with mouse instead of keys.

[2018-07-13 13:03] duraki commented on #92
As far as I know, mouse scroll is working only on Linux. If you are on Macbook/MacOS, that is not quite possible since we are waiting for SublimeTextIssues/Core/issues/1838 fix. #28 for more on this.

[2018-07-13 13:08] Arcanius commented on #92
Oh, I see. You're correct. Since it's been a year we probably aren't going to see any change anytime soon.

Thank you.

[2018-07-13 14:18] duraki commented on #92
Indeed, you could ping core issue and close this one. It may help, hopefully. Cheers.

[2018-07-13 14:19] #92 closed

[2018-07-13 14:35] joelhandwell commented on #83
Microsoft is making [official API to create a third-party console host](https://github.com/Microsoft/console/issues/57) right now.

According to @DarthSpock's [comment](https://github.com/Microsoft/WSL/issues/1117#issuecomment-404828297) following:

So you will soon have choice to use winpty or the offcial api to implement this.

[2018-08-05 13:04] deathaxe commented on #83
This issue is fixed by https://packagecontrol.io/packages/Terminus which makes this package obsolete at least for me.

[2018-08-05 13:04] #83 closed

[2018-08-20 16:16] sceptiq commented on #90
hey,

@sollymay what happens if you start zsh again after spawning the terminal?
for me after starting zsh manually (again) powerline "works"...

and putting
[code]
in the first line of my ```.zshrc```fixes allot of errors and displacing of the cursor.

but there is still some chaos. Running a command makes the last string reappear after hitting return

[2018-08-31 13:31] princebilly opened #94 "Cannot make permanent alias"
Permanent alias not loaded initially.

I had to type

[code]

every time I wants to load my aliases

[2018-09-15 16:30] sollymay commented on #90
@sceptiq  the export TERM="screen" did the trick!!!

Thank you!

[2018-09-15 17:29] wishinghand commented on #90
That fixes the indent issue for me, but when I enter a command the output is prepended by whatever my last command was.

[2018-09-15 17:53] sollymay commented on #90
Yes @wishinghand, that is also the case for me.

[2018-10-17 15:31] jrfarah opened #95 "Scrollback does not work"
Scrollback does not work.

* OS used: MacOS
* Bash version: `GNU bash, version 3.2.57(1)-release (x86_64-apple-darwin18)`
* Arguments being used with the terminal_view_open command: none
* A dump of the environment vars from the terminal view (call `env` in the terminal inside ST3)
`*****@josephs-mbp-2: [src] $ env
TERM=linux
SHELL=/bin/bash
TMPDIR=/var/folders/lg/7490lkc91dq1649d40lfs2nh0000gn/T/

[2018-10-26 12:37] kukharchuk commented on #54
@randy3k Thx

[2018-11-15 10:42] cchas opened #96 "cannot write special characters"
Hi Wramberg,

thanks for sharing this awesome plugin.

I can´t write special characters like á or ñ. Is there any way to enable utf-8?

* OS used: OSX
* Bash version: 3.1.1, build 3176
* Arguments being used with the terminal_view_open command: none
* A dump of the environment vars from the terminal view (call `env` in the terminal inside ST3): Could not find it

and keep in mind that this plugin

[2018-11-21 03:55] marcosdipaolo opened #97 "No auto-complete. Dead"
That's it.

* OS used : Mac OS Sierra 10.12.6
* Bash version: ZSH 5.2
* Arguments being used with the terminal_view_open command: ?
* A dump of the environment vars from the terminal view (call `env` in the terminal inside ST3):
[code]

[2018-11-21 08:31] cheshire-cat commented on #69
Looks like the issue appears when `clear` tries to clean scrollback (which is it's default behaviour).
It works fine with `-x` flag. Also `printf '\033[2J'`(not clears scrollback) works and `printf '\033[3J'` (clears scrollback) doesn't work in TerminalView.

[2018-11-24 11:46] quantumds commented on #95
Please refer to: https://github.com/Wramberg/TerminalView/issues/28#issuecomment-316022892

[2018-11-24 11:53] quantumds commented on #28
Can confirm now that: Alt + using scroll wheel with generic mouse (not trackpad) in new MacOS Mojave 10.14.1 works and you are able to see all the historic of your code lines in the terminal. Bit uncomfortable but at least it is an alternative.

[2018-12-06 05:15] 2void commented on #69
Same here! `clear' stuck! But ctrl+L and reset both work fine!
env: ubuntu 18.04.1; ST3 3176

[2018-12-20 14:17] theel0ja opened #98 "Doesn't open default Terminal"
* OS used: Linux (kde neon, based on ubuntu 18.04)
* Bash version: zsh

I use zsh and it's my terminal in `/etc/passwd`, however this addon opens Bash

[2019-01-08 13:41] CottonEaster opened #99 "Can't seem to get ctrl-shift-t to open a terminal"
Before submitting a bug please ensure you do not have a .bash_profile file or similar that changes the value of the TERM environment variable. This is set to "linux" by the plugin and must NOT be changed.

I do not think I've changed TERM.

Please provide the following information when submitting a bug:

* OS used: Mint 19.1 x64 Cinnamon
* Bash version: GNU bash, version 4.4.19(1)-release (x86_64-

[2019-01-13 18:15] CottonEaster commented on #99
Additional information: if in my user key may I assign something other than ctrl-shift-t to open the Sublime terminal, then, when I press the newly assigned key combination, nothing happens. Launching the Sublime terminal via the command palette does work, though.

[2019-03-06 06:01] wishinghand opened #100 "Are there any forks or similar packages out there?"
Since this repo hasn't been updated since 2017, I'm assuming its dead. Has anyone found a similar project that they like to take TerminalView's place?

[2019-03-14 19:19] sejmann commented on #70
I had a similar need, and also couldn't find a terminalview specific env var.  I'm sure you've long since solved your need, but these both worked for me.

[code]

or:

[code]

[2019-03-17 14:06] Wramberg commented on #100
@wishinghand Yes it is dead. I spoke with @randy3k a while back about taking over but he would rather start a new project here https://github.com/randy3k/Terminus. I think he is pretty active so I would check that out instead.